In [1]:
# Setup environment
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://apache.osuosl.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz 
!tar xf spark-3.2.1-bin-hadoop3.2.tgz
!pip install -q findspark

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.2.1-bin-hadoop3.2"

In [4]:
!pip install quinn

Requirement already satisfied: quinn in /usr/local/lib/python3.7/dist-packages (0.9.0)

In [5]:
!pip install pyspark py4j

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.2.1)
Requirement already satisfied: py4j in /usr/local/lib/python3.7/dist-packages (0.10.9.3)

In [6]:
import findspark
findspark.init()
findspark.find()

'/content/spark-3.2.1-bin-hadoop3.2'

In [7]:
#import necessary things
import pyspark
import pandas as pd
import numpy as np
from pyspark.sql import SparkSession,SQLContext
from pyspark.sql.types import *
from pyspark.sql import functions as F

***Create a spark session***

In [8]:
spark=SparkSession.builder.appName('project').getOrCreate()
spark

***Read the given CSV file***

In [9]:
given_file=spark.read.load('/content/drive/MyDrive/Big data project/Project.csv',format='csv',inferSchema=True,header=True)
given_file.show()

+------+-------+----------------+--------------------+----------+
|SL No.| Emp ID|RFID Card Number|       Employee Name|   Contact|
+------+-------+----------------+--------------------+----------+
|     1|4000001|         4000001|        Shakil Ahmed|1812345678|
|     2|4000002|         4000002|        Shatabdi Roy|1812345678|
|     3|4000003|         4000003|    Md. Pieash Ahmed|         0|
|     4|4000004|         4000004|        Fahima Islam|1812345678|
|     5|4000005|         4000005|  Tanjina Akter Jame|1812345678|
|     6|4000006|         4000006|    Afrin Jahan Urme|1812345678|
|     7|4000007|         4000007|      Anika Tabassum|1812345678|
|     8|4000008|         4000008|     Afsana Alam Mim|1812345678|
|     9|4000009|         4000009| Sayma Islam Sochona|1812345678|
|    10|4000010|         4000010|A. K. M. Tasnim Alam|1812345678|
|    11|4000011|         4000011|   Md Regone Hossain|1812345678|
|    12|4000012|         4000012| Silvia Kh. Shuvessa|1812345678|
|    13|4000013|         4000013|      Yeasin Bhuiyan|1812345678|
|    14|4000014|         4000014|   Md. Mehedi Hassan|1812345678|
|    15|4000015|         4000015|       Riyad Hossain|1812345678|
|    16|4000016|         4000016|Md. Saiful Islam ...|1812345678|
|    17|4000017|         4000017|Abdullah Mohammod...|1812345678|
|    18|4000018|         4000018|             Al Amin|1812345678|
|    19|4000019|         4000019|   Zahid Hasan Nirob|1812345678|
|    20|4000020|         4000020|      Sharzan Rahman|1812345678|
+------+-------+----------------+--------------------+----------+
only showing top 20 rows

**<h3> User id generation </h3>**

In [10]:
user_id=list(range(1,999))
user_id

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998]

In [11]:
user_id=pd.DataFrame(user_id,columns=['user_id'])
user_id.head()

   user_id
0        1
1        2
2        3
3        4
4        5

# ***Table 1:***  <br>
**users_personalinfo**


---
user_id, first_name, last_name, date_of_birth, contact_number, address


---
lat, lon, created_date, updated_date, is_otp_verified, discount_group_id
<br>
***Value***
---
'd24fc609-587c-4065-a105-8fa303f7132a','MS.','Mrs. Meherun Nesa','2000-01-14','+8801679357283','Narayanganj, Bangladesh.'


---
23.688377,90.54962,'05/29/2021 11:01:31','05/29/2021 11:01:31','t',13

***Process the given csv file for creating the table 1***

In [12]:
# constant values
created_date='26-03-2022 14:21:00'
updated_date='26-03-2022 14:21:00'

In [13]:
#lat & long
given_file.withColumn('Random_col',F.round(F.rand(10)*100,5)).withColumn('Random_col2',F.round(F.rand(20)*100,5)).show()

+------+-------+----------------+--------------------+----------+----------+-----------+
|SL No.| Emp ID|RFID Card Number|       Employee Name|   Contact|Random_col|Random_col2|
+------+-------+----------------+--------------------+----------+----------+-----------+
|     1|4000001|         4000001|        Shakil Ahmed|1812345678|  17.09497|   59.96724|
|     2|4000002|         4000002|        Shatabdi Roy|1812345678|  80.51144|   56.49185|
|     3|4000003|         4000003|    Md. Pieash Ahmed|         0|  57.75926|   93.88776|
|     4|4000004|         4000004|        Fahima Islam|1812345678|  94.76048|   17.93529|
|     5|4000005|         4000005|  Tanjina Akter Jame|1812345678|  20.93705|   22.13693|
|     6|4000006|         4000006|    Afrin Jahan Urme|1812345678|  36.66422|   64.92357|
|     7|4000007|         4000007|      Anika Tabassum|1812345678|  80.78688|   12.57226|
|     8|4000008|         4000008|     Afsana Alam Mim|1812345678|  71.35143|   59.82975|
|     9|4000009|         4000009| Sayma Islam Sochona|1812345678|  71.95326|    4.48338|
|    10|4000010|         4000010|A. K. M. Tasnim Alam|1812345678|  31.33529|    1.06658|
|    11|4000011|         4000011|   Md Regone Hossain|1812345678|  80.62504|   38.56331|
|    12|4000012|         4000012| Silvia Kh. Shuvessa|1812345678|  10.81491|   89.86811|
|    13|4000013|         4000013|      Yeasin Bhuiyan|1812345678|  33.62233|   50.35984|
|    14|4000014|         4000014|   Md. Mehedi Hassan|1812345678|  81.33305|   11.45507|
|    15|4000015|         4000015|       Riyad Hossain|1812345678|  47.64943|   39.13149|
|    16|4000016|         4000016|Md. Saiful Islam ...|1812345678|  52.47281|    0.28037|
|    17|4000017|         4000017|Abdullah Mohammod...|1812345678|  97.01253|    86.4376|
|    18|4000018|         4000018|             Al Amin|1812345678|  62.32168|   94.32087|
|    19|4000019|         4000019|   Zahid Hasan Nirob|1812345678|  50.89688|   41.16776|
|    20|4000020|         4000020|      Sharzan Rahman|1812345678|  54.67504|   63.16044|
+------+-------+----------------+--------------------+----------+----------+-----------+
only showing top 20 rows

In [14]:
#address
import random
address=['Narayanganj,Bangladesh','Jatrabari,Bangladesh','Ghulistan,Bangladesh','Ajimpur,Bangladesh','Dhanmondi,Bangladesh','Matuail,Bangladesh','Puran Dhaka,Bangladesh','Kamalapur,Bangladesh','Ashulia,Bangladesh','Mirpur,Bangladesh']
final_add=[]
for i in range(0,998):
  add=random.choice(address)
  final_add.append(add)

In [15]:
address_frame=pd.DataFrame(final_add,columns=["address"])
address_frame.head(100)

                   address
0       Ashulia,Bangladesh
1     Kamalapur,Bangladesh
2        Mirpur,Bangladesh
3     Ghulistan,Bangladesh
4     Kamalapur,Bangladesh
..                     ...
95       Mirpur,Bangladesh
96      Ashulia,Bangladesh
97      Ashulia,Bangladesh
98      Ajimpur,Bangladesh
99  Puran Dhaka,Bangladesh

[100 rows x 1 columns]

In [16]:
#convert pandas to pyspark dataframe
spark_address=spark.createDataFrame(address_frame)
spark_address.count()

998

In [17]:
#Birth date generation
import random
day=list(range(1,31))
month=list(range(1,13))
year=list(range(1995,2005))
date_of_birth=[]
for i in range(0,998):
  rand_day= random.choice(day)
  rand_month= np.random.choice(month)
  rand_year= np.random.choice(year)
  date_of_birth.append([str(rand_day)+'-'+str(rand_month)+'-'+str(rand_year)])
date_of_birth

[['27-10-2001'],
 ['17-2-1995'],
 ['10-12-2004'],
 ['2-8-2000'],
 ['23-12-2004'],
 ['13-1-1999'],
 ['22-8-2003'],
 ['2-6-2003'],
 ['15-11-2002'],
 ['9-2-1999'],
 ['9-9-1995'],
 ['3-9-2002'],
 ['7-10-2002'],
 ['19-3-1996'],
 ['5-8-1995'],
 ['28-11-2004'],
 ['26-7-2003'],
 ['6-3-1995'],
 ['16-6-1996'],
 ['25-3-1995'],
 ['16-1-2003'],
 ['12-4-2002'],
 ['4-5-1996'],
 ['7-3-2000'],
 ['24-1-2000'],
 ['25-12-2000'],
 ['24-7-1996'],
 ['20-2-1996'],
 ['20-1-2000'],
 ['26-11-2002'],
 ['23-12-2003'],
 ['20-10-2004'],
 ['19-10-2000'],
 ['4-7-1999'],
 ['7-8-2004'],
 ['14-12-2003'],
 ['17-7-2000'],
 ['30-11-2001'],
 ['11-10-1996'],
 ['11-9-1995'],
 ['26-7-2000'],
 ['10-1-1997'],
 ['29-12-1998'],
 ['4-9-1997'],
 ['30-9-2002'],
 ['15-3-1995'],
 ['30-9-1999'],
 ['1-6-2004'],
 ['9-9-2002'],
 ['15-5-1999'],
 ['18-5-2003'],
 ['5-4-2003'],
 ['15-1-2001'],
 ['27-2-2001'],
 ['19-2-2001'],
 ['30-11-2001'],
 ['25-11-1995'],
 ['29-6-1999'],
 ['6-2-2001'],
 ['11-7-2001'],
 ['5-7-1998'],
 ['26-10-2001'],
 ['21-1-1998'],
 ['15-8-1998'],
 ['12-2-1999'],
 ['19-9-2000'],
 ['15-11-2001'],
 ['17-6-2002'],
 ['7-10-2004'],
 ['15-9-1997'],
 ['21-2-2001'],
 ['4-4-2002'],
 ['18-1-2004'],
 ['23-7-2003'],
 ['24-7-2002'],
 ['22-5-2001'],
 ['27-2-1999'],
 ['9-11-1995'],
 ['9-4-1998'],
 ['30-6-1995'],
 ['4-10-2000'],
 ['26-5-1996'],
 ['22-8-2002'],
 ['18-6-1995'],
 ['29-10-1997'],
 ['12-4-1997'],
 ['1-1-2003'],
 ['7-4-1999'],
 ['25-8-2002'],
 ['4-5-1995'],
 ['28-11-1997'],
 ['19-10-1995'],
 ['21-12-2003'],
 ['28-6-2002'],
 ['9-5-2000'],
 ['22-6-1997'],
 ['6-3-1996'],
 ['2-10-2004'],
 ['7-7-2000'],
 ['22-6-2002'],
 ['27-1-1995'],
 ['8-3-2001'],
 ['1-10-2003'],
 ['5-9-1996'],
 ['10-7-2004'],
 ['29-6-1995'],
 ['2-6-1999'],
 ['8-4-2004'],
 ['22-6-2003'],
 ['10-2-2003'],
 ['27-3-1996'],
 ['9-12-2003'],
 ['27-1-2000'],
 ['21-9-2003'],
 ['11-1-1997'],
 ['13-5-1999'],
 ['8-2-1995'],
 ['1-11-2003'],
 ['8-6-2003'],
 ['14-12-1995'],
 ['27-8-1999'],
 ['2-7-1998'],
 ['12-5-1996'],
 ['15-12-2001'],
 ['6-8-1999'],
 ['19-4-2000'],
 ['19-11-1995'],
 ['4-8-2000'],
 ['19-5-2001'],
 ['23-4-1997'],
 ['23-1-2001'],
 ['7-12-2000'],
 ['27-3-2003'],
 ['6-12-1995'],
 ['11-11-1996'],
 ['12-10-1998'],
 ['19-12-1996'],
 ['14-10-2003'],
 ['15-2-1997'],
 ['29-11-2004'],
 ['18-7-2004'],
 ['19-4-2003'],
 ['27-4-1996'],
 ['11-11-1998'],
 ['13-9-2000'],
 ['22-3-2000'],
 ['14-8-2003'],
 ['28-12-2003'],
 ['13-1-1999'],
 ['7-6-2001'],
 ['4-2-1999'],
 ['12-11-1996'],
 ['16-5-1998'],
 ['4-11-2004'],
 ['27-3-1997'],
 ['11-11-2003'],
 ['12-1-1998'],
 ['5-4-2000'],
 ['3-4-2001'],
 ['16-3-1998'],
 ['9-3-1996'],
 ['3-8-1996'],
 ['16-7-2001'],
 ['3-1-1997'],
 ['15-7-2002'],
 ['7-5-1997'],
 ['3-3-2000'],
 ['28-9-2001'],
 ['24-2-2001'],
 ['9-11-2000'],
 ['19-1-2000'],
 ['27-2-1995'],
 ['3-4-2000'],
 ['27-5-2000'],
 ['5-3-1998'],
 ['13-11-1998'],
 ['8-8-2002'],
 ['16-11-2001'],
 ['3-6-2001'],
 ['11-5-2004'],
 ['1-8-2004'],
 ['15-11-1997'],
 ['25-4-2001'],
 ['20-12-2003'],
 ['1-1-1995'],
 ['12-2-2002'],
 ['24-3-2000'],
 ['1-7-2000'],
 ['1-9-2001'],
 ['13-2-1995'],
 ['23-3-1999'],
 ['23-2-1995'],
 ['18-12-1997'],
 ['2-1-2002'],
 ['30-5-1998'],
 ['24-3-2001'],
 ['26-12-1997'],
 ['10-3-1998'],
 ['14-2-1998'],
 ['11-8-1997'],
 ['15-7-1998'],
 ['24-11-1996'],
 ['3-6-1995'],
 ['9-8-1998'],
 ['29-3-1996'],
 ['14-11-1998'],
 ['17-2-1999'],
 ['24-10-1997'],
 ['22-11-1997'],
 ['20-5-2001'],
 ['22-1-1998'],
 ['21-6-2000'],
 ['10-6-1996'],
 ['2-11-2002'],
 ['24-9-1996'],
 ['9-5-2003'],
 ['12-7-2003'],
 ['4-10-2002'],
 ['2-11-2002'],
 ['2-9-1998'],
 ['14-4-2000'],
 ['24-2-2000'],
 ['11-1-2000'],
 ['6-1-2002'],
 ['23-2-2000'],
 ['12-5-1996'],
 ['20-3-2004'],
 ['12-6-1996'],
 ['23-1-1998'],
 ['23-11-2003'],
 ['26-12-2003'],
 ['5-8-1997'],
 ['19-3-1999'],
 ['11-1-1997'],
 ['17-11-2001'],
 ['27-2-2002'],
 ['11-10-2001'],
 ['3-8-2000'],
 ['11-11-1998'],
 ['24-6-1997'],
 ['17-6-2001'],
 ['18-2-2001'],
 ['21-11-1995'],
 ['6-7-1995'],
 ['14-9-1997'],
 ['19-10-2001'],
 ['16-11-1998'],
 ['30-1-2000'],
 ['30-3-2001'],
 ['2-10-2003'],
 ['8-4-2003'],
 ['18-8-2000'],
 ['1-7-1997'],
 ['20-3-2004'],
 ['24-3-2001'],
 ['9-11-1997'],
 ['12-3-2001'],
 ['19-7-1996'],
 ['10-8-2001'],
 ['3-12-1996'],
 ['17-6-2000'],
 ['11-5-1999'],
 ['8-4-2002'],
 ['18-7-2002'],
 ['10-7-2002'],
 ['3-3-2004'],
 ['17-11-2003'],
 ['6-8-1999'],
 ['12-12-2002'],
 ['20-9-2000'],
 ['16-10-2000'],
 ['1-9-2001'],
 ['16-6-2000'],
 ['14-12-1999'],
 ['2-1-2003'],
 ['22-9-1998'],
 ['5-7-1995'],
 ['8-5-2002'],
 ['29-7-2004'],
 ['10-2-2003'],
 ['4-1-1998'],
 ['6-1-1996'],
 ['7-2-1995'],
 ['20-2-2001'],
 ['23-12-1999'],
 ['15-10-2003'],
 ['9-4-2000'],
 ['3-3-2000'],
 ['4-4-1999'],
 ['27-5-2002'],
 ['17-11-1998'],
 ['12-11-2000'],
 ['22-1-1995'],
 ['3-4-2000'],
 ['27-1-2004'],
 ['22-2-2000'],
 ['15-4-1998'],
 ['14-5-1997'],
 ['3-6-2002'],
 ['14-6-1999'],
 ['29-8-2000'],
 ['6-12-1996'],
 ['21-5-2000'],
 ['18-8-1999'],
 ['19-2-2004'],
 ['11-11-1995'],
 ['9-11-1998'],
 ['14-5-2001'],
 ['3-5-2004'],
 ['10-10-1997'],
 ['16-10-2002'],
 ['5-6-1998'],
 ['1-8-2002'],
 ['17-12-2001'],
 ['16-3-1995'],
 ['11-4-1998'],
 ['9-7-2002'],
 ['2-9-2000'],
 ['13-6-2002'],
 ['1-1-1997'],
 ['24-9-1998'],
 ['1-10-2000'],
 ['16-9-2004'],
 ['17-7-1998'],
 ['28-8-1997'],
 ['16-11-2001'],
 ['17-11-2004'],
 ['21-6-2002'],
 ['6-11-2003'],
 ['25-5-2001'],
 ['22-4-2002'],
 ['10-1-1997'],
 ['6-5-2003'],
 ['18-1-2003'],
 ['22-8-2003'],
 ['26-5-2002'],
 ['21-5-2001'],
 ['29-4-1999'],
 ['10-10-1995'],
 ['8-9-1999'],
 ['16-5-1999'],
 ['1-2-1998'],
 ['20-1-2001'],
 ['16-8-1998'],
 ['13-6-1996'],
 ['28-6-2004'],
 ['22-3-2004'],
 ['25-3-2000'],
 ['6-9-1995'],
 ['27-12-2002'],
 ['19-2-1998'],
 ['5-7-1999'],
 ['12-2-2001'],
 ['1-9-1997'],
 ['20-6-1999'],
 ['5-10-1997'],
 ['16-8-2000'],
 ['16-2-2001'],
 ['19-9-1996'],
 ['19-9-2001'],
 ['12-11-1997'],
 ['15-8-1996'],
 ['27-12-2002'],
 ['20-8-1996'],
 ['23-10-2002'],
 ['19-1-2001'],
 ['10-1-1999'],
 ['16-2-2004'],
 ['9-3-2004'],
 ['1-3-2003'],
 ['29-12-1999'],
 ['11-5-2004'],
 ['16-8-2002'],
 ['12-11-2002'],
 ['28-5-2000'],
 ['10-9-1999'],
 ['16-9-1998'],
 ['29-10-1999'],
 ['4-9-2000'],
 ['12-9-2000'],
 ['7-8-2001'],
 ['13-10-2004'],
 ['18-9-1997'],
 ['28-5-2002'],
 ['27-2-1999'],
 ['26-9-1996'],
 ['5-10-1996'],
 ['9-4-2001'],
 ['20-3-1995'],
 ['25-12-2002'],
 ['16-8-2001'],
 ['4-2-1997'],
 ['22-8-1995'],
 ['14-9-1999'],
 ['20-11-2001'],
 ['15-11-2004'],
 ['16-2-2001'],
 ['7-5-2004'],
 ['8-5-2004'],
 ['21-9-2000'],
 ['10-4-1998'],
 ['3-3-1995'],
 ['19-7-1996'],
 ['19-9-2002'],
 ['22-2-2002'],
 ['1-12-2003'],
 ['11-12-1997'],
 ['23-11-1998'],
 ['29-1-1996'],
 ['15-3-2003'],
 ['2-10-1999'],
 ['9-9-1998'],
 ['2-11-2001'],
 ['13-1-2000'],
 ['10-3-1999'],
 ['17-8-1999'],
 ['26-1-1996'],
 ['27-4-2000'],
 ['23-1-1996'],
 ['11-8-2004'],
 ['23-4-1995'],
 ['30-4-1997'],
 ['26-11-1999'],
 ['29-3-2003'],
 ['4-5-2004'],
 ['28-5-2004'],
 ['12-3-2003'],
 ['21-10-1999'],
 ['25-5-1996'],
 ['14-9-2004'],
 ['22-12-2002'],
 ['7-2-2003'],
 ['27-12-2003'],
 ['4-8-2001'],
 ['3-3-1995'],
 ['16-10-2001'],
 ['14-10-1998'],
 ['27-11-1997'],
 ['26-8-2003'],
 ['18-4-2003'],
 ['8-4-1996'],
 ['1-6-2002'],
 ['15-7-2004'],
 ['14-6-1999'],
 ['11-1-2001'],
 ['24-12-1996'],
 ['7-10-1996'],
 ['30-7-1996'],
 ['22-12-1997'],
 ['11-1-1996'],
 ['30-2-2004'],
 ['3-5-1997'],
 ['17-8-2000'],
 ['24-1-1996'],
 ['16-2-2000'],
 ['30-2-2003'],
 ['9-5-2001'],
 ['1-8-1998'],
 ['4-9-1995'],
 ['28-5-2004'],
 ['9-6-2004'],
 ['17-11-1998'],
 ['10-9-2003'],
 ['21-7-2003'],
 ['30-9-2001'],
 ['30-10-2002'],
 ['5-2-1999'],
 ['14-12-1995'],
 ['5-5-1997'],
 ['28-4-2002'],
 ['29-8-1999'],
 ['16-2-2001'],
 ['20-11-1997'],
 ['26-1-2001'],
 ['15-8-2002'],
 ['17-11-1997'],
 ['4-7-1999'],
 ['1-4-1996'],
 ['7-3-1996'],
 ['21-12-1998'],
 ['9-11-1998'],
 ['11-7-1998'],
 ['24-4-2003'],
 ['25-7-2003'],
 ['7-4-2000'],
 ['22-3-2004'],
 ['24-10-2002'],
 ['16-5-2002'],
 ['19-2-1995'],
 ['25-8-1999'],
 ['11-2-1995'],
 ['8-4-2004'],
 ['1-2-2004'],
 ['25-7-1995'],
 ['19-12-2002'],
 ['22-5-2004'],
 ['2-3-1998'],
 ['2-12-1995'],
 ['2-3-1995'],
 ['2-6-1999'],
 ['18-5-2002'],
 ['17-6-1995'],
 ['30-1-2004'],
 ['17-4-1995'],
 ['22-7-2001'],
 ['30-9-1996'],
 ['29-3-1995'],
 ['1-12-2000'],
 ['19-3-2000'],
 ['10-3-2000'],
 ['11-9-2004'],
 ['25-3-2001'],
 ['21-6-1995'],
 ['11-11-1998'],
 ['30-8-1997'],
 ['16-11-2003'],
 ['2-2-1996'],
 ['21-2-1996'],
 ['15-10-1996'],
 ['13-1-1999'],
 ['5-8-1997'],
 ['2-10-2004'],
 ['16-6-2004'],
 ['19-11-2003'],
 ['30-1-2003'],
 ['10-9-1997'],
 ['23-7-1995'],
 ['15-9-2004'],
 ['23-9-2003'],
 ['8-11-2001'],
 ['23-7-2003'],
 ['2-12-2000'],
 ['13-4-1998'],
 ['9-6-2004'],
 ['18-5-1998'],
 ['11-8-2000'],
 ['28-4-1998'],
 ['10-12-2004'],
 ['5-11-1998'],
 ['4-3-1997'],
 ['2-9-1996'],
 ['22-8-2002'],
 ['28-12-2002'],
 ['9-9-1997'],
 ['28-2-1995'],
 ['15-10-2000'],
 ['26-6-2002'],
 ['24-1-1995'],
 ['29-4-1995'],
 ['9-9-2004'],
 ['4-3-1998'],
 ['2-8-2001'],
 ['25-4-2003'],
 ['25-7-1998'],
 ['26-12-1997'],
 ['14-4-1998'],
 ['30-4-1997'],
 ['24-1-1998'],
 ['7-7-2000'],
 ['8-2-2002'],
 ['1-3-2002'],
 ['30-2-1999'],
 ['30-3-1997'],
 ['14-10-2004'],
 ['6-3-1996'],
 ['20-4-1997'],
 ['7-5-2001'],
 ['17-9-2000'],
 ['14-2-2003'],
 ['7-8-2001'],
 ['16-7-2002'],
 ['13-8-1999'],
 ['29-11-1996'],
 ['4-7-2000'],
 ['3-5-1995'],
 ['28-5-1996'],
 ['28-10-2001'],
 ['13-11-1998'],
 ['21-1-1997'],
 ['2-4-2001'],
 ['29-8-2001'],
 ['30-5-1997'],
 ['6-11-2001'],
 ['22-9-2002'],
 ['24-4-1998'],
 ['8-2-2000'],
 ['27-5-1995'],
 ['11-2-2002'],
 ['29-3-2004'],
 ['26-7-2003'],
 ['7-10-2002'],
 ['13-1-2002'],
 ['20-11-1995'],
 ['28-8-2002'],
 ['21-6-1998'],
 ['3-1-2002'],
 ['26-4-1998'],
 ['5-11-1998'],
 ['27-5-1998'],
 ['26-11-2002'],
 ['2-10-2002'],
 ['9-12-2002'],
 ['10-6-2003'],
 ['8-2-2001'],
 ['21-9-2004'],
 ['23-2-1996'],
 ['7-1-1997'],
 ['5-6-2004'],
 ['19-11-1996'],
 ['26-1-2004'],
 ['20-5-2000'],
 ['24-4-1996'],
 ['4-11-2004'],
 ['4-10-2003'],
 ['23-3-2004'],
 ['16-4-1997'],
 ['9-6-1998'],
 ['16-7-1998'],
 ['2-3-2000'],
 ['14-12-1997'],
 ['11-9-2002'],
 ['28-7-2001'],
 ['4-10-1998'],
 ['30-2-1998'],
 ['14-10-1995'],
 ['23-2-2002'],
 ['10-3-1999'],
 ['15-6-1999'],
 ['26-9-2002'],
 ['24-9-2002'],
 ['14-7-2002'],
 ['22-12-1998'],
 ['18-7-1999'],
 ['16-2-1997'],
 ['26-10-1995'],
 ['17-2-1997'],
 ['1-11-2000'],
 ['21-11-1999'],
 ['5-7-2003'],
 ['20-3-1995'],
 ['19-4-2004'],
 ['29-1-2000'],
 ['2-10-2001'],
 ['24-11-1995'],
 ['17-6-1998'],
 ['15-2-1998'],
 ['22-11-1995'],
 ['20-9-1998'],
 ['5-4-2002'],
 ['28-3-2001'],
 ['12-10-1998'],
 ['14-1-2000'],
 ['6-7-2004'],
 ['2-1-1999'],
 ['13-5-1998'],
 ['20-8-2004'],
 ['15-11-1999'],
 ['15-4-2003'],
 ['11-4-2003'],
 ['5-4-2001'],
 ['24-7-2001'],
 ['16-11-2004'],
 ['15-11-1997'],
 ['9-2-2004'],
 ['24-9-2003'],
 ['4-12-2000'],
 ['22-8-2000'],
 ['20-2-1998'],
 ['3-5-2002'],
 ['28-2-1996'],
 ['21-4-1995'],
 ['15-1-1997'],
 ['25-7-2002'],
 ['10-5-1997'],
 ['3-10-1997'],
 ['13-1-2004'],
 ['15-7-2000'],
 ['15-11-2004'],
 ['22-1-2000'],
 ['5-10-2002'],
 ['3-9-1999'],
 ['22-5-2002'],
 ['13-12-2002'],
 ['20-2-1999'],
 ['24-6-1995'],
 ['20-12-1996'],
 ['7-2-2002'],
 ['23-6-1997'],
 ['30-2-2004'],
 ['5-3-2000'],
 ['10-8-2003'],
 ['7-5-1999'],
 ['27-8-1998'],
 ['9-5-2002'],
 ['23-12-1996'],
 ['15-3-1997'],
 ['28-1-2001'],
 ['10-4-2000'],
 ['26-8-2004'],
 ['27-5-1995'],
 ['12-4-2003'],
 ['18-5-1996'],
 ['18-1-1996'],
 ['13-3-1999'],
 ['18-9-1996'],
 ['12-3-1999'],
 ['2-3-1995'],
 ['26-10-2000'],
 ['25-5-1997'],
 ['9-7-2003'],
 ['15-3-2002'],
 ['29-2-2003'],
 ['28-12-2002'],
 ['6-11-1996'],
 ['17-3-1997'],
 ['9-3-1995'],
 ['2-4-2003'],
 ['27-2-1995'],
 ['17-7-2001'],
 ['10-12-2003'],
 ['27-9-2003'],
 ['14-3-2000'],
 ['19-4-2003'],
 ['29-12-1999'],
 ['2-4-2003'],
 ['18-10-1995'],
 ['26-5-1996'],
 ['21-12-2003'],
 ['27-10-1997'],
 ['20-5-2003'],
 ['18-8-1998'],
 ['16-9-1998'],
 ['1-12-2001'],
 ['18-2-2004'],
 ['24-12-2001'],
 ['6-6-1995'],
 ['1-8-2000'],
 ['3-7-2003'],
 ['14-7-2002'],
 ['6-11-1996'],
 ['29-4-2000'],
 ['14-4-1996'],
 ['25-10-1999'],
 ['28-7-2003'],
 ['11-2-1998'],
 ['16-9-1997'],
 ['29-5-1998'],
 ['7-3-2000'],
 ['13-4-1998'],
 ['2-5-2001'],
 ['27-12-1999'],
 ['18-10-1996'],
 ['1-7-2004'],
 ['3-11-2002'],
 ['21-2-2000'],
 ['12-7-1995'],
 ['3-12-2000'],
 ['24-10-1998'],
 ['9-8-1998'],
 ['5-7-1998'],
 ['15-12-2000'],
 ['11-6-1995'],
 ['19-5-2000'],
 ['3-10-2001'],
 ['25-6-1997'],
 ['5-6-2001'],
 ['11-11-1996'],
 ['29-12-1996'],
 ['7-8-2001'],
 ['29-11-2000'],
 ['16-6-2001'],
 ['22-5-1996'],
 ['21-8-1997'],
 ['13-1-1998'],
 ['2-4-1995'],
 ['3-6-1997'],
 ['20-12-1999'],
 ['12-5-2002'],
 ['23-6-2003'],
 ['18-1-1999'],
 ['26-8-1998'],
 ['28-12-1997'],
 ['5-2-1998'],
 ['17-9-2002'],
 ['12-2-1996'],
 ['13-12-1996'],
 ['29-8-1996'],
 ['9-9-2004'],
 ['9-11-1998'],
 ['4-5-1997'],
 ['29-5-2002'],
 ['27-8-1997'],
 ['28-8-2000'],
 ['22-9-1999'],
 ['7-8-1996'],
 ['4-12-1997'],
 ['3-3-2003'],
 ['29-3-1999'],
 ['11-3-1998'],
 ['27-9-1997'],
 ['1-10-1998'],
 ['27-2-2001'],
 ['15-7-2001'],
 ['29-3-2002'],
 ['21-9-1996'],
 ['18-9-1995'],
 ['1-6-1999'],
 ['9-4-2002'],
 ['8-5-1995'],
 ['29-1-1997'],
 ['22-4-2003'],
 ['6-5-1995'],
 ['1-3-2002'],
 ['13-3-1996'],
 ['21-8-2004'],
 ['10-12-2002'],
 ['25-11-2003'],
 ['29-11-1999'],
 ['5-1-1995'],
 ['18-4-1996'],
 ['8-5-1998'],
 ['8-12-1996'],
 ['18-3-2000'],
 ['22-12-1996'],
 ['19-4-2001'],
 ['29-4-1999'],
 ['9-12-1997'],
 ['15-6-1999'],
 ['26-4-2003'],
 ['12-1-1996'],
 ['14-5-2001'],
 ['9-8-2003'],
 ['11-6-1995'],
 ['8-9-1998'],
 ['18-3-2000'],
 ['5-6-1996'],
 ['10-6-2000'],
 ['9-8-1995'],
 ['30-11-2001'],
 ['26-8-2001'],
 ['6-9-1999'],
 ['3-9-1995'],
 ['18-7-2000'],
 ['27-2-2003'],
 ['9-6-1998'],
 ['13-11-2004'],
 ['7-12-1997'],
 ['24-12-1996'],
 ['23-11-1995'],
 ['27-1-1997'],
 ['17-4-2000'],
 ['23-4-1998'],
 ['18-7-1995'],
 ['24-4-2000'],
 ['1-1-2000'],
 ['8-5-2000'],
 ['22-12-1997'],
 ['28-12-1996'],
 ['16-4-1997'],
 ['29-12-2004'],
 ['21-10-2004'],
 ['8-2-2003'],
 ['9-6-2001'],
 ['22-12-2004'],
 ['4-3-2003'],
 ['6-9-1995'],
 ['10-9-2003'],
 ['11-3-2003'],
 ['27-6-2002'],
 ['20-11-1999'],
 ['2-5-1999'],
 ['5-4-1997'],
 ['20-9-1995'],
 ['23-7-2001'],
 ['16-4-2003'],
 ['16-12-2002'],
 ['3-3-2002'],
 ['20-4-2001'],
 ['30-1-1995'],
 ['30-3-2000'],
 ['3-6-2001'],
 ['17-2-1998'],
 ['13-7-1996'],
 ['5-8-1997'],
 ['6-4-1996'],
 ['7-6-1995'],
 ['8-4-1997'],
 ['13-3-2004'],
 ['25-1-1996'],
 ['16-6-2001'],
 ['28-8-2001'],
 ['17-3-1995'],
 ['9-8-1997'],
 ['9-1-1997'],
 ['22-5-2002'],
 ['18-10-1997'],
 ['3-8-2000'],
 ['2-9-2000'],
 ['28-2-1997'],
 ['18-12-2000'],
 ['28-8-2004'],
 ['3-9-1997'],
 ['20-8-2002'],
 ['15-12-1998'],
 ['5-1-1999'],
 ['5-7-1999'],
 ['21-4-2003'],
 ['30-10-1996'],
 ['10-4-2003'],
 ['6-2-2004'],
 ['30-6-1995'],
 ['2-7-2000'],
 ['25-7-2000'],
 ['28-9-1995'],
 ['10-1-1999'],
 ['25-7-2003'],
 ['26-10-2004'],
 ['27-7-1999'],
 ['11-1-1995'],
 ['13-6-1995'],
 ['19-10-2003'],
 ['26-11-2004'],
 ['1-7-2000'],
 ['6-2-2001'],
 ['19-12-2001'],
 ['24-1-2003'],
 ['3-12-2004'],
 ['19-11-1999'],
 ['16-2-1997'],
 ['19-12-1998'],
 ['22-2-2000'],
 ['6-8-1996'],
 ['20-7-1995'],
 ['15-2-2003'],
 ['1-2-2000'],
 ['25-10-1997'],
 ['4-4-2003'],
 ['10-6-1995'],
 ['5-11-1997'],
 ['13-8-2004'],
 ['19-4-2004'],
 ['12-9-2001'],
 ['7-6-2002'],
 ['11-1-2001'],
 ['15-8-2001'],
 ['30-9-1998'],
 ['10-11-1997'],
 ['18-5-2003'],
 ['23-12-1997'],
 ['14-9-2001'],
 ['12-5-1996'],
 ['13-7-1998'],
 ['21-8-1996'],
 ['6-5-2001'],
 ['18-9-1998'],
 ['12-1-1998'],
 ['25-4-1997'],
 ['9-7-2000'],
 ['4-2-1997'],
 ['14-4-2003'],
 ['22-9-2002'],
 ['25-9-1997'],
 ['9-3-1995'],
 ['22-1-2003'],
 ['8-4-1999'],
 ['4-7-2002'],
 ['26-6-1996'],
 ['26-11-2001'],
 ['17-5-2001'],
 ['5-3-2002'],
 ['17-7-1995'],
 ['4-12-2001'],
 ['20-10-1998'],
 ['12-3-2004'],
 ['20-7-1998'],
 ['2-3-1996'],
 ['2-12-1995'],
 ['20-10-1998'],
 ['17-4-2001'],
 ['1-2-2003'],
 ['27-12-1996'],
 ['27-7-2000'],
 ['12-8-2003'],
 ['14-5-2004'],
 ['10-1-1996'],
 ['26-9-1999'],
 ['6-10-1998'],
 ['5-2-1995'],
 ['19-12-2004'],
 ['23-6-2004'],
 ['19-3-2001'],
 ['15-11-1999'],
 ['22-2-2002'],
 ['26-8-2002'],
 ['27-6-1998'],
 ['13-2-2000'],
 ['5-10-1997'],
 ['15-8-2002']]

In [18]:
schema = StructType([ StructField("date_of_birth",StringType(),True)])

In [19]:
date_of_birth=spark.createDataFrame(data=date_of_birth,schema=schema)
date_of_birth.printSchema()

root
 |-- date_of_birth: string (nullable = true)

In [20]:
from quinn.extensions import *
import quinn

In [21]:
date_of_birth=date_of_birth.withColumn('random_birth',quinn.array_choice(F.array(F.col("date_of_birth")))).select('Random_birth')

In [22]:
date_of_birth.show()

+------------+
|Random_birth|
+------------+
|  27-10-2001|
|   17-2-1995|
|  10-12-2004|
|    2-8-2000|
|  23-12-2004|
|   13-1-1999|
|   22-8-2003|
|    2-6-2003|
|  15-11-2002|
|    9-2-1999|
|    9-9-1995|
|    3-9-2002|
|   7-10-2002|
|   19-3-1996|
|    5-8-1995|
|  28-11-2004|
|   26-7-2003|
|    6-3-1995|
|   16-6-1996|
|   25-3-1995|
+------------+
only showing top 20 rows

In [23]:
date_of_birth=date_of_birth.toPandas()
date_of_birth.head(5)

  Random_birth
0   27-10-2001
1    17-2-1995
2   10-12-2004
3     2-8-2000
4   23-12-2004

In [24]:
#discount_group_id
given_file.withColumn('discount_id',F.round(F.rand(1)*100).cast('integer')).count()

998

In [25]:
first_name=given_file.select('Employee Name')
first_name.show()

+--------------------+
|       Employee Name|
+--------------------+
|        Shakil Ahmed|
|        Shatabdi Roy|
|    Md. Pieash Ahmed|
|        Fahima Islam|
|  Tanjina Akter Jame|
|    Afrin Jahan Urme|
|      Anika Tabassum|
|     Afsana Alam Mim|
| Sayma Islam Sochona|
|A. K. M. Tasnim Alam|
|   Md Regone Hossain|
| Silvia Kh. Shuvessa|
|      Yeasin Bhuiyan|
|   Md. Mehedi Hassan|
|       Riyad Hossain|
|Md. Saiful Islam ...|
|Abdullah Mohammod...|
|             Al Amin|
|   Zahid Hasan Nirob|
|      Sharzan Rahman|
+--------------------+
only showing top 20 rows

In [26]:
# find first name
def find_fname(name):
  name=name.split();
  size=len(name);
  if (size==2):
      return name[0]
  elif (size==3):
      return name[0]+' '+name[1]
  elif (size==4):
    return name[0]+' '+name[1]+' '+name[2]


split_first_name=F.udf(find_fname,StringType());
first_name=first_name.withColumn('first_name',split_first_name('Employee Name'))
first_name.show()

+--------------------+--------------------+
|       Employee Name|          first_name|
+--------------------+--------------------+
|        Shakil Ahmed|              Shakil|
|        Shatabdi Roy|            Shatabdi|
|    Md. Pieash Ahmed|          Md. Pieash|
|        Fahima Islam|              Fahima|
|  Tanjina Akter Jame|       Tanjina Akter|
|    Afrin Jahan Urme|         Afrin Jahan|
|      Anika Tabassum|               Anika|
|     Afsana Alam Mim|         Afsana Alam|
| Sayma Islam Sochona|         Sayma Islam|
|A. K. M. Tasnim Alam|                null|
|   Md Regone Hossain|           Md Regone|
| Silvia Kh. Shuvessa|          Silvia Kh.|
|      Yeasin Bhuiyan|              Yeasin|
|   Md. Mehedi Hassan|          Md. Mehedi|
|       Riyad Hossain|               Riyad|
|Md. Saiful Islam ...|    Md. Saiful Islam|
|Abdullah Mohammod...|Abdullah Mohammod...|
|             Al Amin|                  Al|
|   Zahid Hasan Nirob|         Zahid Hasan|
|      Sharzan Rahman|             Sharzan|
+--------------------+--------------------+
only showing top 20 rows

In [27]:
#find last name
def find_lname(name):
  name=name.split();
  size=len(name);
  return name[size-1]


split_last_name=F.udf(find_lname,StringType());
name=first_name.withColumn('last_name',split_last_name('Employee Name'))
name.show()

+--------------------+--------------------+---------+
|       Employee Name|          first_name|last_name|
+--------------------+--------------------+---------+
|        Shakil Ahmed|              Shakil|    Ahmed|
|        Shatabdi Roy|            Shatabdi|      Roy|
|    Md. Pieash Ahmed|          Md. Pieash|    Ahmed|
|        Fahima Islam|              Fahima|    Islam|
|  Tanjina Akter Jame|       Tanjina Akter|     Jame|
|    Afrin Jahan Urme|         Afrin Jahan|     Urme|
|      Anika Tabassum|               Anika| Tabassum|
|     Afsana Alam Mim|         Afsana Alam|      Mim|
| Sayma Islam Sochona|         Sayma Islam|  Sochona|
|A. K. M. Tasnim Alam|                null|     Alam|
|   Md Regone Hossain|           Md Regone|  Hossain|
| Silvia Kh. Shuvessa|          Silvia Kh.| Shuvessa|
|      Yeasin Bhuiyan|              Yeasin|  Bhuiyan|
|   Md. Mehedi Hassan|          Md. Mehedi|   Hassan|
|       Riyad Hossain|               Riyad|  Hossain|
|Md. Saiful Islam ...|    Md. Saiful Islam|   Shakil|
|Abdullah Mohammod...|Abdullah Mohammod...|    Boiah|
|             Al Amin|                  Al|     Amin|
|   Zahid Hasan Nirob|         Zahid Hasan|    Nirob|
|      Sharzan Rahman|             Sharzan|   Rahman|
+--------------------+--------------------+---------+
only showing top 20 rows

#***creating table 1***

In [28]:

#add user_id column
personal_info=given_file.withColumnRenamed('SL NO.','user_id')

# first_name
personal_info=personal_info.withColumn('first_name',split_first_name('Employee Name'))

# last_name
personal_info=personal_info.withColumn('last_name',split_last_name('Employee Name'))

#date_of_birth
#convert to pandas
personal_info=personal_info.toPandas()
personal_info=pd.concat([personal_info,date_of_birth],axis=1)
personal_info.rename(columns = {'Random_birth':'date_of_birth'}, inplace = True)


#address
personal_info=pd.concat([personal_info,address_frame],axis=1)


#convert to pyspark dataframe
personal_info=spark.createDataFrame(personal_info) 


#lat & long
personal_info=personal_info.withColumn('lat',F.round(F.rand(10)*100,5)).withColumn('lon',F.round(F.rand(20)*100,5))

#created date & updated date
personal_info=personal_info.withColumn('created_date',F.lit(created_date)).withColumn('updated_date',F.lit(updated_date))

# is_otp_verified
personal_info=personal_info.withColumn('is_otp_verified',when(F.col('Contact')==0,'f').otherwise('t'))

# discount_group_id
personal_info=personal_info.withColumn('discount_id',F.round(F.rand(1)*100).cast('integer'))

# rename Contact to contact_number
personal_info=personal_info.withColumnRenamed('Contact','contact_number')

# rename discount_id to discount_group_id
personal_info=personal_info.withColumnRenamed('discount_id','discount_group_id')

# display the table
personal_info.show()

+-------+-------+----------------+--------------------+--------------+--------------------+---------+-------------+--------------------+--------+--------+-------------------+-------------------+---------------+-----------------+
|user_id| Emp ID|RFID Card Number|       Employee Name|contact_number|          first_name|last_name|date_of_birth|             address|     lat|     lon|       created_date|       updated_date|is_otp_verified|discount_group_id|
+-------+-------+----------------+--------------------+--------------+--------------------+---------+-------------+--------------------+--------+--------+-------------------+-------------------+---------------+-----------------+
|      1|4000001|         4000001|        Shakil Ahmed|    1812345678|              Shakil|    Ahmed|   27-10-2001|  Ashulia,Bangladesh|17.09497|59.96724|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               64|
|      2|4000002|         4000002|        Shatabdi Roy|    1812345678|            Shatabdi|      Roy|    17-2-1995|Kamalapur,Bangladesh|80.51144|56.49185|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               60|
|      3|4000003|         4000003|    Md. Pieash Ahmed|             0|          Md. Pieash|    Ahmed|   10-12-2004|   Mirpur,Bangladesh|57.75926|93.88776|26-03-2022 14:21:00|26-03-2022 14:21:00|              f|               13|
|      4|4000004|         4000004|        Fahima Islam|    1812345678|              Fahima|    Islam|     2-8-2000|Ghulistan,Bangladesh|94.76048|17.93529|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|                8|
|      5|4000005|         4000005|  Tanjina Akter Jame|    1812345678|       Tanjina Akter|     Jame|   23-12-2004|Kamalapur,Bangladesh|20.93705|22.13693|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               85|
|      6|4000006|         4000006|    Afrin Jahan Urme|    1812345678|         Afrin Jahan|     Urme|    13-1-1999|Kamalapur,Bangladesh|36.66422|64.92357|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               72|
|      7|4000007|         4000007|      Anika Tabassum|    1812345678|               Anika| Tabassum|    22-8-2003|Jatrabari,Bangladesh|80.78688|12.57226|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               25|
|      8|4000008|         4000008|     Afsana Alam Mim|    1812345678|         Afsana Alam|      Mim|     2-6-2003|Narayanganj,Bangl...|71.35143|59.82975|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               14|
|      9|4000009|         4000009| Sayma Islam Sochona|    1812345678|         Sayma Islam|  Sochona|   15-11-2002|Ghulistan,Bangladesh|71.95326| 4.48338|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               39|
|     10|4000010|         4000010|A. K. M. Tasnim Alam|    1812345678|                null|     Alam|     9-2-1999|Kamalapur,Bangladesh|31.33529| 1.06658|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               61|
|     11|4000011|         4000011|   Md Regone Hossain|    1812345678|           Md Regone|  Hossain|     9-9-1995|  Matuail,Bangladesh|80.62504|38.56331|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               55|
|     12|4000012|         4000012| Silvia Kh. Shuvessa|    1812345678|          Silvia Kh.| Shuvessa|     3-9-2002|  Ashulia,Bangladesh|10.81491|89.86811|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               15|
|     13|4000013|         4000013|      Yeasin Bhuiyan|    1812345678|              Yeasin|  Bhuiyan|    7-10-2002|Kamalapur,Bangladesh|33.62233|50.35984|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               26|
|     14|4000014|         4000014|   Md. Mehedi Hassan|    1812345678|          Md. Mehedi|   Hassan|    19-3-1996|  Matuail,Bangladesh|81.33305|11.45507|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               85|
|     15|4000015|         4000015|       Riyad Hossain|    1812345678|               Riyad|  Hossain|     5-8-1995|Puran Dhaka,Bangl...|47.64943|39.13149|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               81|
|     16|4000016|         4000016|Md. Saiful Islam ...|    1812345678|    Md. Saiful Islam|   Shakil|   28-11-2004|Dhanmondi,Bangladesh|52.47281| 0.28037|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               96|
|     17|4000017|         4000017|Abdullah Mohammod...|    1812345678|Abdullah Mohammod...|    Boiah|    26-7-2003|Kamalapur,Bangladesh|97.01253| 86.4376|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               73|
|     18|4000018|         4000018|             Al Amin|    1812345678|                  Al|     Amin|     6-3-1995|Puran Dhaka,Bangl...|62.32168|94.32087|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               95|
|     19|4000019|         4000019|   Zahid Hasan Nirob|    1812345678|         Zahid Hasan|    Nirob|    16-6-1996|  Ashulia,Bangladesh|50.89688|41.16776|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|                5|
|     20|4000020|         4000020|      Sharzan Rahman|    1812345678|             Sharzan|   Rahman|    25-3-1995|  Ajimpur,Bangladesh|54.67504|63.16044|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               60|
+-------+-------+----------------+--------------------+--------------+--------------------+---------+-------------+--------------------+--------+--------+-------------------+-------------------+---------------+-----------------+
only showing top 20 rows

In [29]:
#drop unnecessary columns
personal_info=personal_info.drop('Emp ID','RFID Card Number','Employee Name')
personal_info.show()

+-------+--------------+--------------------+---------+-------------+--------------------+--------+--------+-------------------+-------------------+---------------+-----------------+
|user_id|contact_number|          first_name|last_name|date_of_birth|             address|     lat|     lon|       created_date|       updated_date|is_otp_verified|discount_group_id|
+-------+--------------+--------------------+---------+-------------+--------------------+--------+--------+-------------------+-------------------+---------------+-----------------+
|      1|    1812345678|              Shakil|    Ahmed|   27-10-2001|  Ashulia,Bangladesh|17.09497|59.96724|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               64|
|      2|    1812345678|            Shatabdi|      Roy|    17-2-1995|Kamalapur,Bangladesh|80.51144|56.49185|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               60|
|      3|             0|          Md. Pieash|    Ahmed|   10-12-2004|   Mirpur,Bangladesh|57.75926|93.88776|26-03-2022 14:21:00|26-03-2022 14:21:00|              f|               13|
|      4|    1812345678|              Fahima|    Islam|     2-8-2000|Ghulistan,Bangladesh|94.76048|17.93529|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|                8|
|      5|    1812345678|       Tanjina Akter|     Jame|   23-12-2004|Kamalapur,Bangladesh|20.93705|22.13693|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               85|
|      6|    1812345678|         Afrin Jahan|     Urme|    13-1-1999|Kamalapur,Bangladesh|36.66422|64.92357|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               72|
|      7|    1812345678|               Anika| Tabassum|    22-8-2003|Jatrabari,Bangladesh|80.78688|12.57226|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               25|
|      8|    1812345678|         Afsana Alam|      Mim|     2-6-2003|Narayanganj,Bangl...|71.35143|59.82975|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               14|
|      9|    1812345678|         Sayma Islam|  Sochona|   15-11-2002|Ghulistan,Bangladesh|71.95326| 4.48338|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               39|
|     10|    1812345678|                null|     Alam|     9-2-1999|Kamalapur,Bangladesh|31.33529| 1.06658|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               61|
|     11|    1812345678|           Md Regone|  Hossain|     9-9-1995|  Matuail,Bangladesh|80.62504|38.56331|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               55|
|     12|    1812345678|          Silvia Kh.| Shuvessa|     3-9-2002|  Ashulia,Bangladesh|10.81491|89.86811|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               15|
|     13|    1812345678|              Yeasin|  Bhuiyan|    7-10-2002|Kamalapur,Bangladesh|33.62233|50.35984|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               26|
|     14|    1812345678|          Md. Mehedi|   Hassan|    19-3-1996|  Matuail,Bangladesh|81.33305|11.45507|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               85|
|     15|    1812345678|               Riyad|  Hossain|     5-8-1995|Puran Dhaka,Bangl...|47.64943|39.13149|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               81|
|     16|    1812345678|    Md. Saiful Islam|   Shakil|   28-11-2004|Dhanmondi,Bangladesh|52.47281| 0.28037|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               96|
|     17|    1812345678|Abdullah Mohammod...|    Boiah|    26-7-2003|Kamalapur,Bangladesh|97.01253| 86.4376|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               73|
|     18|    1812345678|                  Al|     Amin|     6-3-1995|Puran Dhaka,Bangl...|62.32168|94.32087|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               95|
|     19|    1812345678|         Zahid Hasan|    Nirob|    16-6-1996|  Ashulia,Bangladesh|50.89688|41.16776|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|                5|
|     20|    1812345678|             Sharzan|   Rahman|    25-3-1995|  Ajimpur,Bangladesh|54.67504|63.16044|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               60|
+-------+--------------+--------------------+---------+-------------+--------------------+--------+--------+-------------------+-------------------+---------------+-----------------+
only showing top 20 rows

In [30]:
#Rearrange columns order
personal_info=personal_info.select('user_id', 'first_name', 'last_name', 'date_of_birth', 'contact_number', 'address', 'lat', 'lon', 'created_date', 'updated_date', 'is_otp_verified','discount_group_id')
personal_info.show()

+-------+--------------------+---------+-------------+--------------+--------------------+--------+--------+-------------------+-------------------+---------------+-----------------+
|user_id|          first_name|last_name|date_of_birth|contact_number|             address|     lat|     lon|       created_date|       updated_date|is_otp_verified|discount_group_id|
+-------+--------------------+---------+-------------+--------------+--------------------+--------+--------+-------------------+-------------------+---------------+-----------------+
|      1|              Shakil|    Ahmed|   27-10-2001|    1812345678|  Ashulia,Bangladesh|17.09497|59.96724|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               64|
|      2|            Shatabdi|      Roy|    17-2-1995|    1812345678|Kamalapur,Bangladesh|80.51144|56.49185|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               60|
|      3|          Md. Pieash|    Ahmed|   10-12-2004|             0|   Mirpur,Bangladesh|57.75926|93.88776|26-03-2022 14:21:00|26-03-2022 14:21:00|              f|               13|
|      4|              Fahima|    Islam|     2-8-2000|    1812345678|Ghulistan,Bangladesh|94.76048|17.93529|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|                8|
|      5|       Tanjina Akter|     Jame|   23-12-2004|    1812345678|Kamalapur,Bangladesh|20.93705|22.13693|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               85|
|      6|         Afrin Jahan|     Urme|    13-1-1999|    1812345678|Kamalapur,Bangladesh|36.66422|64.92357|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               72|
|      7|               Anika| Tabassum|    22-8-2003|    1812345678|Jatrabari,Bangladesh|80.78688|12.57226|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               25|
|      8|         Afsana Alam|      Mim|     2-6-2003|    1812345678|Narayanganj,Bangl...|71.35143|59.82975|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               14|
|      9|         Sayma Islam|  Sochona|   15-11-2002|    1812345678|Ghulistan,Bangladesh|71.95326| 4.48338|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               39|
|     10|                null|     Alam|     9-2-1999|    1812345678|Kamalapur,Bangladesh|31.33529| 1.06658|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               61|
|     11|           Md Regone|  Hossain|     9-9-1995|    1812345678|  Matuail,Bangladesh|80.62504|38.56331|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               55|
|     12|          Silvia Kh.| Shuvessa|     3-9-2002|    1812345678|  Ashulia,Bangladesh|10.81491|89.86811|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               15|
|     13|              Yeasin|  Bhuiyan|    7-10-2002|    1812345678|Kamalapur,Bangladesh|33.62233|50.35984|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               26|
|     14|          Md. Mehedi|   Hassan|    19-3-1996|    1812345678|  Matuail,Bangladesh|81.33305|11.45507|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               85|
|     15|               Riyad|  Hossain|     5-8-1995|    1812345678|Puran Dhaka,Bangl...|47.64943|39.13149|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               81|
|     16|    Md. Saiful Islam|   Shakil|   28-11-2004|    1812345678|Dhanmondi,Bangladesh|52.47281| 0.28037|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               96|
|     17|Abdullah Mohammod...|    Boiah|    26-7-2003|    1812345678|Kamalapur,Bangladesh|97.01253| 86.4376|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               73|
|     18|                  Al|     Amin|     6-3-1995|    1812345678|Puran Dhaka,Bangl...|62.32168|94.32087|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               95|
|     19|         Zahid Hasan|    Nirob|    16-6-1996|    1812345678|  Ashulia,Bangladesh|50.89688|41.16776|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|                5|
|     20|             Sharzan|   Rahman|    25-3-1995|    1812345678|  Ajimpur,Bangladesh|54.67504|63.16044|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               60|
+-------+--------------------+---------+-------------+--------------+--------------------+--------+--------+-------------------+-------------------+---------------+-----------------+
only showing top 20 rows

In [33]:
# save the dataframe into csv file
personal_info.coalesce(1).write.option("header", "true").csv("Pyspark/users_personalinfo")

In [34]:
# At first create a folder which name is "Pandas". By using pandas, save as csv file
panda_csv=personal_info.toPandas()
panda_csv.to_csv('Pandas/users_personalinfo.csv',header=True,index=False)

# ***Table 2:  users_billinginfo***

user_id, address, city, postcode, country, <br>
contact, currency, created_date, updated_date

---

'd24fc609-587c-4065-a105-8fa303f7132a', 'Keodala, Madanpur, Bandar, Narayanganj, Bangladesh.',
'Narayanganj', 1400, 'Bangladesh', <br>

---


'+8801679357283', 'BDT',  '04/01/2021 00:43:31','04/01/2021 00:43:31

***# Process the main csv file for creating table 2***

In [35]:
#created date & updated date
created_date='26/03/2022 21:19:31'
updated_date='26/03/2022 21:19:31'

#address
address=[
         'Keodala, Madanpur, Narayanganj, Bangladesh',
         'Sher-shah suri road, Block A, Mohammadpur, Bangladesh',
         'samad mansion, section #10, mirpur, Bangladesh',
         '37, kemal ataturk avenue, banani, Bangladesh ',
         'House 140/A(New 31), Road 2, Dhanmondi,Bangladesh',
         '22, sekander market, uttara,Bangladesh',
         '11, agrabad, chittagong, Bangladesh',
         'road 22, bakchon, jessore,Bangladesh',
         'comilla medical college hospital,comilla, comilla,Bangladesh',
         '25/38 Chittaranjan Avenue, Casco Market, Sadarghat,Bangladesh',
         'sylhet womens medical college hospital, sylhet, sylhet,Bangladesh'
]

for i in range(11,998):
  address.append(str(np.random.choice(address)))

final_add=pd.DataFrame(address,columns=['address'])

#post code
post_code=[1400,1207,1216,1213,1205,1231,4100,7400,3500,1000,3100]



for i in range(11,998):
  post_code.append(np.random.choice(post_code))



post_code=pd.DataFrame(post_code,columns=["post_code"])

final_add = pd.concat([final_add,post_code],axis=1)



final_add.head(5)

                                             address  post_code
0         Keodala, Madanpur, Narayanganj, Bangladesh       1400
1  Sher-shah suri road, Block A, Mohammadpur, Ban...       1207
2     samad mansion, section #10, mirpur, Bangladesh       1216
3      37, kemal ataturk avenue, banani, Bangladesh        1213
4  House 140/A(New 31), Road 2, Dhanmondi,Bangladesh       1205

In [36]:
#mobile number
def mg():
  return np.random.choice(num)

operator=['3','4','6','7','9']
num=['0','1','2','3','4','5','6','7','8','9']
mobile_numb=[]
for i in range(0,998):
  mobile_numb.append('+8801'+np.random.choice(operator)+mg()+mg()+mg()+mg()+mg()+mg()+mg()+mg())

mobile_numb

['+8801410675228',
 '+8801981614424',
 '+8801655779333',
 '+8801627417493',
 '+8801304282081',
 '+8801386472545',
 '+8801625265192',
 '+8801761076526',
 '+8801992010477',
 '+8801924790381',
 '+8801329992331',
 '+8801366894408',
 '+8801634988372',
 '+8801678353732',
 '+8801443529102',
 '+8801346145331',
 '+8801333668758',
 '+8801317800370',
 '+8801784119557',
 '+8801731399926',
 '+8801397544524',
 '+8801729696974',
 '+8801921161141',
 '+8801627635604',
 '+8801436348703',
 '+8801431929459',
 '+8801968737745',
 '+8801934068010',
 '+8801399505610',
 '+8801446508434',
 '+8801972793973',
 '+8801782482797',
 '+8801446969898',
 '+8801910909364',
 '+8801383614110',
 '+8801304771752',
 '+8801438796282',
 '+8801982736593',
 '+8801986681544',
 '+8801693733302',
 '+8801340685056',
 '+8801770495661',
 '+8801945855865',
 '+8801471632121',
 '+8801708595111',
 '+8801911465276',
 '+8801448664152',
 '+8801355259292',
 '+8801666086877',
 '+8801765719292',
 '+8801492178900',
 '+8801681940632',
 '+8801939963024',
 '+8801428116897',
 '+8801307141856',
 '+8801634242892',
 '+8801319255124',
 '+8801412551727',
 '+8801346918041',
 '+8801603990567',
 '+8801912457173',
 '+8801434733759',
 '+8801733672035',
 '+8801444819365',
 '+8801695690829',
 '+8801701904814',
 '+8801640661424',
 '+8801959166853',
 '+8801633550311',
 '+8801965199595',
 '+8801490535627',
 '+8801334572044',
 '+8801708778123',
 '+8801454881563',
 '+8801336613059',
 '+8801738710670',
 '+8801989722432',
 '+8801782152096',
 '+8801333424392',
 '+8801677992941',
 '+8801455439178',
 '+8801968861151',
 '+8801669260957',
 '+8801494713503',
 '+8801473713451',
 '+8801645285421',
 '+8801676754490',
 '+8801648120853',
 '+8801415134005',
 '+8801608466944',
 '+8801996587839',
 '+8801474883248',
 '+8801929025157',
 '+8801392352781',
 '+8801492094680',
 '+8801339898282',
 '+8801451942914',
 '+8801956969136',
 '+8801644104115',
 '+8801952926175',
 '+8801613092869',
 '+8801358488761',
 '+8801464222193',
 '+8801646032611',
 '+8801309054480',
 '+8801748393619',
 '+8801480907211',
 '+8801341857704',
 '+8801993341470',
 '+8801909755020',
 '+8801775586932',
 '+8801638280458',
 '+8801965982490',
 '+8801342571056',
 '+8801349675455',
 '+8801393337479',
 '+8801711912037',
 '+8801377843586',
 '+8801456639851',
 '+8801662552777',
 '+8801630494708',
 '+8801987004097',
 '+8801445102248',
 '+8801460158154',
 '+8801632501034',
 '+8801433974470',
 '+8801650047953',
 '+8801729644938',
 '+8801429666653',
 '+8801760713909',
 '+8801985787496',
 '+8801436028423',
 '+8801634907137',
 '+8801774714913',
 '+8801909871368',
 '+8801977599783',
 '+8801307447108',
 '+8801361044832',
 '+8801732556110',
 '+8801935682952',
 '+8801695263568',
 '+8801767321958',
 '+8801977263699',
 '+8801678882605',
 '+8801711579683',
 '+8801903385646',
 '+8801749660558',
 '+8801436662667',
 '+8801988396735',
 '+8801745346802',
 '+8801925512618',
 '+8801340094507',
 '+8801604665858',
 '+8801610638844',
 '+8801737019242',
 '+8801900586576',
 '+8801653393562',
 '+8801356344107',
 '+8801381035640',
 '+8801611159741',
 '+8801376439885',
 '+8801628136073',
 '+8801674007649',
 '+8801711000361',
 '+8801351841691',
 '+8801909975088',
 '+8801901506060',
 '+8801756706254',
 '+8801469438344',
 '+8801664625907',
 '+8801922402918',
 '+8801382572213',
 '+8801719658684',
 '+8801929176135',
 '+8801321382138',
 '+8801423718623',
 '+8801487197761',
 '+8801681219145',
 '+8801925579710',
 '+8801787544009',
 '+8801936798184',
 '+8801935929619',
 '+8801465602098',
 '+8801944453029',
 '+8801331176249',
 '+8801408917097',
 '+8801727525124',
 '+8801456880119',
 '+8801772340770',
 '+8801971289989',
 '+8801748787337',
 '+8801785917186',
 '+8801423064972',
 '+8801623943334',
 '+8801611902187',
 '+8801711020101',
 '+8801492264809',
 '+8801657557950',
 '+8801638124970',
 '+8801970146475',
 '+8801497992970',
 '+8801695463841',
 '+8801769468798',
 '+8801313649499',
 '+8801372578898',
 '+8801911984092',
 '+8801365913953',
 '+8801490395381',
 '+8801688034694',
 '+8801990341138',
 '+8801969991818',
 '+8801362328398',
 '+8801338767550',
 '+8801689025219',
 '+8801612142686',
 '+8801794826123',
 '+8801946720546',
 '+8801377430311',
 '+8801906964169',
 '+8801472248213',
 '+8801476262603',
 '+8801779474355',
 '+8801757857309',
 '+8801399709312',
 '+8801666521559',
 '+8801916804891',
 '+8801482009100',
 '+8801763269192',
 '+8801781511686',
 '+8801773694591',
 '+8801369463717',
 '+8801356456738',
 '+8801348345006',
 '+8801397810562',
 '+8801968817794',
 '+8801409812502',
 '+8801726896472',
 '+8801304445283',
 '+8801781460192',
 '+8801664314256',
 '+8801358976973',
 '+8801432519641',
 '+8801915236955',
 '+8801488422292',
 '+8801390737586',
 '+8801362221170',
 '+8801635511345',
 '+8801668667841',
 '+8801422429616',
 '+8801392461236',
 '+8801380970624',
 '+8801745577498',
 '+8801674657193',
 '+8801737573933',
 '+8801372665148',
 '+8801339274332',
 '+8801349456820',
 '+8801929906734',
 '+8801368898664',
 '+8801978916540',
 '+8801392160234',
 '+8801911612085',
 '+8801660257083',
 '+8801900533382',
 '+8801729204110',
 '+8801958434579',
 '+8801668714471',
 '+8801369264743',
 '+8801605976985',
 '+8801774037012',
 '+8801391931121',
 '+8801937153252',
 '+8801928872250',
 '+8801709340085',
 '+8801901682192',
 '+8801721364113',
 '+8801922751817',
 '+8801443645743',
 '+8801919108852',
 '+8801745706642',
 '+8801920456240',
 '+8801359827401',
 '+8801764840521',
 '+8801733382322',
 '+8801496263821',
 '+8801331495759',
 '+8801684088040',
 '+8801437142207',
 '+8801726451842',
 '+8801920726515',
 '+8801320846076',
 '+8801738986005',
 '+8801972410084',
 '+8801938250188',
 '+8801360663749',
 '+8801415519178',
 '+8801310502719',
 '+8801461492443',
 '+8801623018347',
 '+8801992204258',
 '+8801325138675',
 '+8801491434519',
 '+8801300001154',
 '+8801339148221',
 '+8801330558327',
 '+8801635498043',
 '+8801338366182',
 '+8801733093883',
 '+8801455050444',
 '+8801450829833',
 '+8801672113631',
 '+8801928916781',
 '+8801631321292',
 '+8801335146363',
 '+8801342103082',
 '+8801917115844',
 '+8801488808212',
 '+8801312458750',
 '+8801358355174',
 '+8801972642686',
 '+8801342525447',
 '+8801729504580',
 '+8801952776682',
 '+8801426225136',
 '+8801909102915',
 '+8801993052015',
 '+8801609315674',
 '+8801772702488',
 '+8801447707692',
 '+8801497863193',
 '+8801763740703',
 '+8801680186683',
 '+8801456831223',
 '+8801494549202',
 '+8801737712629',
 '+8801483653100',
 '+8801776253461',
 '+8801428319152',
 '+8801337624970',
 '+8801648314344',
 '+8801474630792',
 '+8801332381712',
 '+8801989882343',
 '+8801452250919',
 '+8801490133054',
 '+8801613888023',
 '+8801418684776',
 '+8801796055125',
 '+8801410962277',
 '+8801499565070',
 '+8801617895333',
 '+8801447663904',
 '+8801731712453',
 '+8801951277767',
 '+8801944065268',
 '+8801372167790',
 '+8801482315404',
 '+8801716892916',
 '+8801706140034',
 '+8801786949371',
 '+8801463120050',
 '+8801358709906',
 '+8801639755703',
 '+8801396524814',
 '+8801730030795',
 '+8801470942466',
 '+8801772356953',
 '+8801909704195',
 '+8801717001042',
 '+8801995025688',
 '+8801779188040',
 '+8801398005097',
 '+8801317004661',
 '+8801713194598',
 '+8801372392145',
 '+8801382460500',
 '+8801915413011',
 '+8801739084631',
 '+8801773605367',
 '+8801668257044',
 '+8801647535852',
 '+8801692247829',
 '+8801738129547',
 '+8801403866863',
 '+8801307784624',
 '+8801300408953',
 '+8801697672392',
 '+8801783063781',
 '+8801649536798',
 '+8801790031405',
 '+8801445093443',
 '+8801411457160',
 '+8801341187947',
 '+8801793822878',
 '+8801486641289',
 '+8801407299898',
 '+8801646640359',
 '+8801766398217',
 '+8801497435856',
 '+8801452318960',
 '+8801609771270',
 '+8801691104586',
 '+8801998748135',
 '+8801489057873',
 '+8801933229742',
 '+8801621034875',
 '+8801476686098',
 '+8801438613074',
 '+8801436178313',
 '+8801327661861',
 '+8801688541278',
 '+8801653149110',
 '+8801426643720',
 '+8801655881525',
 '+8801489402224',
 '+8801991896892',
 '+8801446942782',
 '+8801796061027',
 '+8801468953385',
 '+8801306825497',
 '+8801728595456',
 '+8801641824937',
 '+8801347914683',
 '+8801941757191',
 '+8801656144627',
 '+8801920595620',
 '+8801919670382',
 '+8801969313158',
 '+8801322121992',
 '+8801926481237',
 '+8801493956735',
 '+8801351459824',
 '+8801791404164',
 '+8801945241365',
 '+8801921774135',
 '+8801919280862',
 '+8801947678044',
 '+8801658055303',
 '+8801716221661',
 '+8801402306006',
 '+8801373107328',
 '+8801383363392',
 '+8801413390236',
 '+8801978565463',
 '+8801321841022',
 '+8801617152671',
 '+8801722992041',
 '+8801718890481',
 '+8801708290674',
 '+8801990838097',
 '+8801745755080',
 '+8801788613712',
 '+8801986488834',
 '+8801759562151',
 '+8801943388918',
 '+8801716035430',
 '+8801974197814',
 '+8801327387427',
 '+8801411127009',
 '+8801332158392',
 '+8801935110597',
 '+8801741786734',
 '+8801751305143',
 '+8801323948676',
 '+8801644887255',
 '+8801969356809',
 '+8801309307514',
 '+8801330673651',
 '+8801753798818',
 '+8801418601662',
 '+8801329671645',
 '+8801481105804',
 '+8801342633509',
 '+8801670108330',
 '+8801764115471',
 '+8801478253565',
 '+8801624206743',
 '+8801983900815',
 '+8801919319513',
 '+8801490358582',
 '+8801427371468',
 '+8801349866519',
 '+8801914883481',
 '+8801715760538',
 '+8801347903426',
 '+8801485706746',
 '+8801370848311',
 '+8801707145052',
 '+8801942235012',
 '+8801375254562',
 '+8801459882116',
 '+8801638052346',
 '+8801403804550',
 '+8801385325565',
 '+8801331575447',
 '+8801311643611',
 '+8801904459588',
 '+8801482069108',
 '+8801448875972',
 '+8801615223592',
 '+8801469123050',
 '+8801965322535',
 '+8801917990968',
 '+8801727460591',
 '+8801677670265',
 '+8801332508962',
 '+8801910435284',
 '+8801790954733',
 '+8801309398996',
 '+8801432422506',
 '+8801990434818',
 '+8801763737928',
 '+8801673631044',
 '+8801308044056',
 '+8801317722787',
 '+8801791460986',
 '+8801485046345',
 '+8801689438370',
 '+8801755731620',
 '+8801675433587',
 '+8801475137973',
 '+8801433979286',
 '+8801798278526',
 '+8801370784398',
 '+8801998635553',
 '+8801350303232',
 '+8801698989644',
 '+8801787562807',
 '+8801390253138',
 '+8801392091202',
 '+8801602678927',
 '+8801719791569',
 '+8801646095278',
 '+8801993495920',
 '+8801982515930',
 '+8801699462203',
 '+8801398107712',
 '+8801743277167',
 '+8801321849947',
 '+8801456137855',
 '+8801699683683',
 '+8801460604353',
 '+8801467337910',
 '+8801990808485',
 '+8801492814790',
 '+8801906883458',
 '+8801464331807',
 '+8801911309623',
 '+8801464971225',
 '+8801357493419',
 '+8801444777539',
 '+8801496650606',
 '+8801643283594',
 '+8801906821295',
 '+8801641122892',
 '+8801351504788',
 '+8801626633821',
 '+8801950550752',
 '+8801922345859',
 '+8801955133049',
 '+8801719786067',
 '+8801797823367',
 '+8801457363966',
 '+8801422277468',
 '+8801971572845',
 '+8801319056722',
 '+8801971846338',
 '+8801351693207',
 '+8801491247516',
 '+8801328667107',
 '+8801705101019',
 '+8801429080380',
 '+8801658060861',
 '+8801706576447',
 '+8801490930633',
 '+8801949048918',
 '+8801351757508',
 '+8801602236504',
 '+8801750343604',
 '+8801613230889',
 '+8801732587117',
 '+8801305383954',
 '+8801665644144',
 '+8801354093197',
 '+8801640940611',
 '+8801622561703',
 '+8801963068662',
 '+8801431264754',
 '+8801928757404',
 '+8801768853472',
 '+8801614450985',
 '+8801968027106',
 '+8801903281891',
 '+8801772938412',
 '+8801715093016',
 '+8801380305791',
 '+8801438726516',
 '+8801903273694',
 '+8801367322481',
 '+8801727624081',
 '+8801713906087',
 '+8801403860757',
 '+8801645210265',
 '+8801689353548',
 '+8801627159521',
 '+8801320551079',
 '+8801699359930',
 '+8801441111783',
 '+8801331747970',
 '+8801397680283',
 '+8801484132776',
 '+8801670391529',
 '+8801921340249',
 '+8801793942396',
 '+8801327220529',
 '+8801315267185',
 '+8801706987258',
 '+8801345601237',
 '+8801403191164',
 '+8801427435118',
 '+8801343617151',
 '+8801653479186',
 '+8801937300776',
 '+8801788757245',
 '+8801621182217',
 '+8801402992956',
 '+8801705036778',
 '+8801679773646',
 '+8801994791395',
 '+8801401582692',
 '+8801347211739',
 '+8801931898241',
 '+8801631668883',
 '+8801976277501',
 '+8801705905622',
 '+8801406167418',
 '+8801605395083',
 '+8801766017732',
 '+8801610177520',
 '+8801427042610',
 '+8801982902492',
 '+8801749157298',
 '+8801612867233',
 '+8801717460019',
 '+8801993765963',
 '+8801369161184',
 '+8801638189561',
 '+8801304339164',
 '+8801648392512',
 '+8801733734994',
 '+8801620623380',
 '+8801418545942',
 '+8801648828535',
 '+8801794324113',
 '+8801612880505',
 '+8801735783109',
 '+8801444794795',
 '+8801407610129',
 '+8801636351205',
 '+8801929111019',
 '+8801478887312',
 '+8801628527294',
 '+8801705865509',
 '+8801681123182',
 '+8801603268263',
 '+8801963345409',
 '+8801716532880',
 '+8801666975629',
 '+8801740625715',
 '+8801945882003',
 '+8801605071357',
 '+8801673981677',
 '+8801391719288',
 '+8801426635499',
 '+8801393824847',
 '+8801934896252',
 '+8801743330008',
 '+8801372082030',
 '+8801760648946',
 '+8801775959611',
 '+8801684544248',
 '+8801944237159',
 '+8801456223113',
 '+8801742674662',
 '+8801991855505',
 '+8801904751823',
 '+8801649901836',
 '+8801954957199',
 '+8801384835636',
 '+8801415836164',
 '+8801736608957',
 '+8801708490148',
 '+8801721168217',
 '+8801976651199',
 '+8801403660630',
 '+8801644948233',
 '+8801668273036',
 '+8801705171246',
 '+8801953662226',
 '+8801413617566',
 '+8801687366371',
 '+8801640267110',
 '+8801741468971',
 '+8801771187009',
 '+8801328194805',
 '+8801964409464',
 '+8801728014627',
 '+8801706516462',
 '+8801712266146',
 '+8801314609377',
 '+8801665224688',
 '+8801760560875',
 '+8801737468493',
 '+8801368561501',
 '+8801436340991',
 '+8801372714265',
 '+8801414983511',
 '+8801430329549',
 '+8801772996673',
 '+8801703219873',
 '+8801406907099',
 '+8801718370556',
 '+8801651427936',
 '+8801448842353',
 '+8801308167136',
 '+8801411527083',
 '+8801387841791',
 '+8801358703911',
 '+8801993999665',
 '+8801985076889',
 '+8801793937442',
 '+8801362228502',
 '+8801656210584',
 '+8801403834443',
 '+8801664021738',
 '+8801490445007',
 '+8801691015259',
 '+8801487931983',
 '+8801928384474',
 '+8801724629484',
 '+8801382106337',
 '+8801336310095',
 '+8801680223890',
 '+8801602198577',
 '+8801930788364',
 '+8801984670982',
 '+8801417156924',
 '+8801395794281',
 '+8801350347749',
 '+8801431995410',
 '+8801450066260',
 '+8801788235786',
 '+8801345376712',
 '+8801926307649',
 '+8801923009893',
 '+8801987728553',
 '+8801367482448',
 '+8801307101708',
 '+8801945310871',
 '+8801479601397',
 '+8801919461703',
 '+8801780149198',
 '+8801602688265',
 '+8801647491726',
 '+8801445611714',
 '+8801778536838',
 '+8801998875043',
 '+8801754143118',
 '+8801452691219',
 '+8801630322639',
 '+8801942141582',
 '+8801669292695',
 '+8801319541742',
 '+8801489078133',
 '+8801617592259',
 '+8801994814299',
 '+8801645671970',
 '+8801686229135',
 '+8801765262781',
 '+8801733434669',
 '+8801644516762',
 '+8801344233420',
 '+8801715661105',
 '+8801379315798',
 '+8801714483541',
 '+8801743892404',
 '+8801985554340',
 '+8801465239482',
 '+8801476512284',
 '+8801467734905',
 '+8801359534089',
 '+8801484083190',
 '+8801455147007',
 '+8801446742691',
 '+8801938315752',
 '+8801777178212',
 '+8801782684835',
 '+8801757243346',
 '+8801606431838',
 '+8801714933698',
 '+8801957483475',
 '+8801970246712',
 '+8801655534985',
 '+8801966888345',
 '+8801962735337',
 '+8801437338618',
 '+8801327701631',
 '+8801973994414',
 '+8801768205077',
 '+8801984160103',
 '+8801600646669',
 '+8801407327468',
 '+8801601876221',
 '+8801920553723',
 '+8801754780085',
 '+8801627865831',
 '+8801947658613',
 '+8801334622609',
 '+8801716005723',
 '+8801460524890',
 '+8801754852368',
 '+8801467925990',
 '+8801329121186',
 '+8801392928100',
 '+8801462724686',
 '+8801616474373',
 '+8801719196265',
 '+8801735040481',
 '+8801315543270',
 '+8801680686979',
 '+8801937791031',
 '+8801306623127',
 '+8801912311020',
 '+8801978251143',
 '+8801340190316',
 '+8801741330899',
 '+8801769044983',
 '+8801966727056',
 '+8801370712798',
 '+8801312411714',
 '+8801371999495',
 '+8801497018511',
 '+8801450043822',
 '+8801600372330',
 '+8801327607135',
 '+8801328544631',
 '+8801949617804',
 '+8801328625862',
 '+8801437736023',
 '+8801495684214',
 '+8801378837645',
 '+8801724485004',
 '+8801620551111',
 '+8801328041442',
 '+8801300354977',
 '+8801420645180',
 '+8801977074549',
 '+8801924805380',
 '+8801626221448',
 '+8801954826061',
 '+8801711176571',
 '+8801643383818',
 '+8801960504595',
 '+8801687519088',
 '+8801685720463',
 '+8801641162983',
 '+8801968449774',
 '+8801605564676',
 '+8801600273630',
 '+8801606896979',
 '+8801604556891',
 '+8801305932844',
 '+8801458044895',
 '+8801334130203',
 '+8801483491528',
 '+8801308656236',
 '+8801662741987',
 '+8801983481549',
 '+8801764195432',
 '+8801307815516',
 '+8801939623527',
 '+8801926698764',
 '+8801715030478',
 '+8801472693285',
 '+8801931129247',
 '+8801995940615',
 '+8801922537774',
 '+8801783662897',
 '+8801924162141',
 '+8801718435941',
 '+8801748591271',
 '+8801601962695',
 '+8801995902728',
 '+8801473325077',
 '+8801727530438',
 '+8801356734450',
 '+8801794732809',
 '+8801741493264',
 '+8801790302239',
 '+8801680490714',
 '+8801776377624',
 '+8801610058748',
 '+8801919460546',
 '+8801441657969',
 '+8801499509499',
 '+8801375772354',
 '+8801375340804',
 '+8801938247948',
 '+8801712917731',
 '+8801433164521',
 '+8801435075877',
 '+8801907686911',
 '+8801346896715',
 '+8801937259924',
 '+8801608284154',
 '+8801368716050',
 '+8801710069676',
 '+8801486261827',
 '+8801689950248',
 '+8801336368346',
 '+8801454052535',
 '+8801612104702',
 '+8801363321272',
 '+8801386507007',
 '+8801629986101',
 '+8801918578715',
 '+8801461318726',
 '+8801466621844',
 '+8801663344924',
 '+8801946268266',
 '+8801383579545',
 '+8801948473630',
 '+8801322038416',
 '+8801322452928',
 '+8801490502339',
 '+8801397286329',
 '+8801414319542',
 '+8801788207802',
 '+8801428788657',
 '+8801736096921',
 '+8801356435672',
 '+8801605123131',
 '+8801390852299',
 '+8801386816110',
 '+8801399153848',
 '+8801359126286',
 '+8801638583392',
 '+8801992656376',
 '+8801719803437',
 '+8801406969644',
 '+8801688629754',
 '+8801940822157',
 '+8801676047517',
 '+8801721124255',
 '+8801415373495',
 '+8801318579927',
 '+8801492072596',
 '+8801966459502',
 '+8801624788129',
 '+8801744764132',
 '+8801452438971',
 '+8801798412197',
 '+8801917480809',
 '+8801791093830',
 '+8801716867326',
 '+8801993951586',
 '+8801700736946',
 '+8801927756542',
 '+8801748214626',
 '+8801909092067',
 '+8801470015153',
 '+8801687159084',
 '+8801475956469',
 '+8801430823504',
 '+8801600826794',
 '+8801926751821',
 '+8801772132735',
 '+8801401973028',
 '+8801971126107',
 '+8801614567650',
 '+8801726454020',
 '+8801668152591',
 '+8801369614629',
 '+8801793946720',
 '+8801920350563',
 '+8801308235881',
 '+8801705943221',
 '+8801917639334',
 '+8801778054196',
 '+8801371664315',
 '+8801449494892',
 '+8801415529020',
 '+8801314130832',
 '+8801758343889',
 '+8801977290112',
 '+8801626725689',
 '+8801349713310',
 '+8801744238957']

In [37]:
# add contact

mobile_numb=pd.DataFrame(mobile_numb,columns=["contact"])
final_add = pd.concat([final_add,mobile_numb],axis=1)
final_add.head()

,address,post_code,contact
0,"Keodala, Madanpur, Narayanganj, Bangladesh",1400,+8801410675228
1,"Sher-shah suri road, Block A, Mohammadpur, Ban...",1207,+8801981614424
2,"samad mansion, section #10, mirpur, Bangladesh",1216,+8801655779333
3,"37, kemal ataturk avenue, banani, Bangladesh",1213,+8801627417493
4,"House 140/A(New 31), Road 2, Dhanmondi,Bangladesh",1205,+8801304282081

In [38]:
# adding to dataframe
# user id
billing_info=given_file.withColumnRenamed('SL No.','user_id')

#drop unnecessary columns
billing_info=billing_info.drop('Emp ID','RFID Card Number','Employee Name','Contact')

need=billing_info


#currency
billing_info=billing_info.withColumn('currency',F.lit('BDT'))

#created & updated date
billing_info=billing_info.withColumn('created_date',F.lit(created_date)).withColumn('updated_date',F.lit(updated_date))


# country
billing_info=billing_info.withColumn('country',F.lit('Bangladesh'))

billing_info.show()

+-------+--------+-------------------+-------------------+----------+
|user_id|currency|       created_date|       updated_date|   country|
+-------+--------+-------------------+-------------------+----------+
|      1|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|
|      2|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|
|      3|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|
|      4|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|
|      5|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|
|      6|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|
|      7|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|
|      8|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|
|      9|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|
|     10|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|
|     11|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|
|     12|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|
|     13|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|
|     14|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|
|     15|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|
|     16|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|
|     17|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|
|     18|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|
|     19|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|
|     20|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|
+-------+--------+-------------------+-------------------+----------+
only showing top 20 rows

In [39]:
# convert pandas to pyspark DataFrame
billing_info=billing_info.toPandas()
billing_info=pd.concat([billing_info,final_add],axis=1)

In [40]:
billing_info=spark.createDataFrame(billing_info)

In [41]:
billing_info.show()

+-------+--------+-------------------+-------------------+----------+--------------------+---------+--------------+
|user_id|currency|       created_date|       updated_date|   country|             address|post_code|       contact|
+-------+--------+-------------------+-------------------+----------+--------------------+---------+--------------+
|      1|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|Keodala, Madanpur...|     1400|+8801410675228|
|      2|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|Sher-shah suri ro...|     1207|+8801981614424|
|      3|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|samad mansion, se...|     1216|+8801655779333|
|      4|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|37, kemal ataturk...|     1213|+8801627417493|
|      5|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|House 140/A(New 3...|     1205|+8801304282081|
|      6|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|22, sekander mark...|     1231|+8801386472545|
|      7|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|11, agrabad, chit...|     4100|+8801625265192|
|      8|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|road 22, bakchon,...|     7400|+8801761076526|
|      9|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|comilla medical c...|     3500|+8801992010477|
|     10|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|25/38 Chittaranja...|     1000|+8801924790381|
|     11|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|sylhet womens med...|     3100|+8801329992331|
|     12|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|sylhet womens med...|     4100|+8801366894408|
|     13|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|samad mansion, se...|     3500|+8801634988372|
|     14|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|House 140/A(New 3...|     1205|+8801678353732|
|     15|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|House 140/A(New 3...|     1231|+8801443529102|
|     16|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|samad mansion, se...|     1216|+8801346145331|
|     17|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|22, sekander mark...|     1213|+8801333668758|
|     18|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|sylhet womens med...|     1213|+8801317800370|
|     19|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|25/38 Chittaranja...|     7400|+8801784119557|
|     20|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|25/38 Chittaranja...|     3500|+8801731399926|
+-------+--------+-------------------+-------------------+----------+--------------------+---------+--------------+
only showing top 20 rows

In [42]:
billing_info=billing_info.withColumn('city',F.split(F.col('address'),',').getItem(2))
billing_info.show()

+-------+--------+-------------------+-------------------+----------+--------------------+---------+--------------+------------+
|user_id|currency|       created_date|       updated_date|   country|             address|post_code|       contact|        city|
+-------+--------+-------------------+-------------------+----------+--------------------+---------+--------------+------------+
|      1|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|Keodala, Madanpur...|     1400|+8801410675228| Narayanganj|
|      2|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|Sher-shah suri ro...|     1207|+8801981614424| Mohammadpur|
|      3|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|samad mansion, se...|     1216|+8801655779333|      mirpur|
|      4|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|37, kemal ataturk...|     1213|+8801627417493|      banani|
|      5|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|House 140/A(New 3...|     1205|+8801304282081|   Dhanmondi|
|      6|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|22, sekander mark...|     1231|+8801386472545|      uttara|
|      7|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|11, agrabad, chit...|     4100|+8801625265192|  chittagong|
|      8|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|road 22, bakchon,...|     7400|+8801761076526|     jessore|
|      9|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|comilla medical c...|     3500|+8801992010477|     comilla|
|     10|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|25/38 Chittaranja...|     1000|+8801924790381|   Sadarghat|
|     11|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|sylhet womens med...|     3100|+8801329992331|      sylhet|
|     12|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|sylhet womens med...|     4100|+8801366894408|      sylhet|
|     13|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|samad mansion, se...|     3500|+8801634988372|      mirpur|
|     14|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|House 140/A(New 3...|     1205|+8801678353732|   Dhanmondi|
|     15|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|House 140/A(New 3...|     1231|+8801443529102|   Dhanmondi|
|     16|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|samad mansion, se...|     1216|+8801346145331|      mirpur|
|     17|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|22, sekander mark...|     1213|+8801333668758|      uttara|
|     18|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|sylhet womens med...|     1213|+8801317800370|      sylhet|
|     19|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|25/38 Chittaranja...|     7400|+8801784119557|   Sadarghat|
|     20|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|Bangladesh|25/38 Chittaranja...|     3500|+8801731399926|   Sadarghat|
+-------+--------+-------------------+-------------------+----------+--------------------+---------+--------------+------------+
only showing top 20 rows

In [43]:
billing_info=billing_info.select('user_id', 'address', 'city', 'post_code', 'country', 'contact', 'currency', 'created_date', 'updated_date')
billing_info.show()

+-------+--------------------+------------+---------+----------+--------------+--------+-------------------+-------------------+
|user_id|             address|        city|post_code|   country|       contact|currency|       created_date|       updated_date|
+-------+--------------------+------------+---------+----------+--------------+--------+-------------------+-------------------+
|      1|Keodala, Madanpur...| Narayanganj|     1400|Bangladesh|+8801410675228|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|
|      2|Sher-shah suri ro...| Mohammadpur|     1207|Bangladesh|+8801981614424|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|
|      3|samad mansion, se...|      mirpur|     1216|Bangladesh|+8801655779333|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|
|      4|37, kemal ataturk...|      banani|     1213|Bangladesh|+8801627417493|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|
|      5|House 140/A(New 3...|   Dhanmondi|     1205|Bangladesh|+8801304282081|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|
|      6|22, sekander mark...|      uttara|     1231|Bangladesh|+8801386472545|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|
|      7|11, agrabad, chit...|  chittagong|     4100|Bangladesh|+8801625265192|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|
|      8|road 22, bakchon,...|     jessore|     7400|Bangladesh|+8801761076526|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|
|      9|comilla medical c...|     comilla|     3500|Bangladesh|+8801992010477|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|
|     10|25/38 Chittaranja...|   Sadarghat|     1000|Bangladesh|+8801924790381|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|
|     11|sylhet womens med...|      sylhet|     3100|Bangladesh|+8801329992331|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|
|     12|sylhet womens med...|      sylhet|     4100|Bangladesh|+8801366894408|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|
|     13|samad mansion, se...|      mirpur|     3500|Bangladesh|+8801634988372|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|
|     14|House 140/A(New 3...|   Dhanmondi|     1205|Bangladesh|+8801678353732|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|
|     15|House 140/A(New 3...|   Dhanmondi|     1231|Bangladesh|+8801443529102|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|
|     16|samad mansion, se...|      mirpur|     1216|Bangladesh|+8801346145331|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|
|     17|22, sekander mark...|      uttara|     1213|Bangladesh|+8801333668758|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|
|     18|sylhet womens med...|      sylhet|     1213|Bangladesh|+8801317800370|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|
|     19|25/38 Chittaranja...|   Sadarghat|     7400|Bangladesh|+8801784119557|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|
|     20|25/38 Chittaranja...|   Sadarghat|     3500|Bangladesh|+8801731399926|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|
+-------+--------------------+------------+---------+----------+--------------+--------+-------------------+-------------------+
only showing top 20 rows

***Save the table 2***

In [44]:
# save the dataframe into csv file
billing_info.coalesce(1).write.option("header", "true").csv("Pyspark/users_billinginfo")

In [45]:
# by using pandas, save as csv file
panda_csv=billing_info.toPandas()
panda_csv.to_csv('Pandas/users_billinginfo.csv',header=True,index=False)

# ***Table 3 : users_rfidinfo ***

user_id, tag, activated, created_date, updated_date,


---


valid_until, last_used, reference_number, employee_code, unique_user_id


---
'404b3c4f-6598-44a0-9b19-32cb3adc785f', '123456', '1',  '05/29/2021 11:01:31','05/29/2021 11:01:31'

---
'05/29/2025 11:01:31','05/29/2021 11:01:31','' ,196,9002483

***prcess the given csv file***

In [46]:
#activated
active='1'

#created_date & updated_date
created_date='26/03/2022 23:53:31'
updated_date='26/03/2022 23:53:31'

# valid_untill

valid_until='26/03/2025 23:53:31'


#last_used

from datetime import datetime

# datetime object containing current date and time
now = datetime.now()
 
# dd/mm/YY H:M:S
last_used = now.strftime("%d/%m/%Y %H:%M:%S")

In [47]:
rfidinfo=given_file.withColumn('activated',F.lit(active)).withColumn('created_date',F.lit(created_date)).withColumn('updated_date',F.lit(updated_date)).withColumn('valid_until',F.lit(valid_until)).withColumn('last_used',F.lit(last_used))
rfidinfo=rfidinfo.withColumnRenamed('SL NO.','user_id')
rfidinfo=rfidinfo.withColumnRenamed('Emp ID','reference_number')
#drop unnecessary columns
rfidinfo=rfidinfo.drop('RFID Card Number','Employee Name','Contact')
rfidinfo.show()

+-------+----------------+---------+-------------------+-------------------+-------------------+-------------------+
|user_id|reference_number|activated|       created_date|       updated_date|        valid_until|          last_used|
+-------+----------------+---------+-------------------+-------------------+-------------------+-------------------+
|      1|         4000001|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|
|      2|         4000002|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|
|      3|         4000003|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|
|      4|         4000004|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|
|      5|         4000005|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|
|      6|         4000006|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|
|      7|         4000007|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|
|      8|         4000008|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|
|      9|         4000009|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|
|     10|         4000010|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|
|     11|         4000011|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|
|     12|         4000012|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|
|     13|         4000013|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|
|     14|         4000014|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|
|     15|         4000015|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|
|     16|         4000016|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|
|     17|         4000017|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|
|     18|         4000018|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|
|     19|         4000019|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|
|     20|         4000020|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|
+-------+----------------+---------+-------------------+-------------------+-------------------+-------------------+
only showing top 20 rows

In [48]:
# tag & unique user id
temp=123456
temp_uniq=9002483
tag=[]
uniq=[]
for i in range(0,998):
  tag.append(str(temp+i))
  uniq.append(str(temp_uniq+i))

uniq

['9002483',
 '9002484',
 '9002485',
 '9002486',
 '9002487',
 '9002488',
 '9002489',
 '9002490',
 '9002491',
 '9002492',
 '9002493',
 '9002494',
 '9002495',
 '9002496',
 '9002497',
 '9002498',
 '9002499',
 '9002500',
 '9002501',
 '9002502',
 '9002503',
 '9002504',
 '9002505',
 '9002506',
 '9002507',
 '9002508',
 '9002509',
 '9002510',
 '9002511',
 '9002512',
 '9002513',
 '9002514',
 '9002515',
 '9002516',
 '9002517',
 '9002518',
 '9002519',
 '9002520',
 '9002521',
 '9002522',
 '9002523',
 '9002524',
 '9002525',
 '9002526',
 '9002527',
 '9002528',
 '9002529',
 '9002530',
 '9002531',
 '9002532',
 '9002533',
 '9002534',
 '9002535',
 '9002536',
 '9002537',
 '9002538',
 '9002539',
 '9002540',
 '9002541',
 '9002542',
 '9002543',
 '9002544',
 '9002545',
 '9002546',
 '9002547',
 '9002548',
 '9002549',
 '9002550',
 '9002551',
 '9002552',
 '9002553',
 '9002554',
 '9002555',
 '9002556',
 '9002557',
 '9002558',
 '9002559',
 '9002560',
 '9002561',
 '9002562',
 '9002563',
 '9002564',
 '9002565',
 '9002566',
 '9002567',
 '9002568',
 '9002569',
 '9002570',
 '9002571',
 '9002572',
 '9002573',
 '9002574',
 '9002575',
 '9002576',
 '9002577',
 '9002578',
 '9002579',
 '9002580',
 '9002581',
 '9002582',
 '9002583',
 '9002584',
 '9002585',
 '9002586',
 '9002587',
 '9002588',
 '9002589',
 '9002590',
 '9002591',
 '9002592',
 '9002593',
 '9002594',
 '9002595',
 '9002596',
 '9002597',
 '9002598',
 '9002599',
 '9002600',
 '9002601',
 '9002602',
 '9002603',
 '9002604',
 '9002605',
 '9002606',
 '9002607',
 '9002608',
 '9002609',
 '9002610',
 '9002611',
 '9002612',
 '9002613',
 '9002614',
 '9002615',
 '9002616',
 '9002617',
 '9002618',
 '9002619',
 '9002620',
 '9002621',
 '9002622',
 '9002623',
 '9002624',
 '9002625',
 '9002626',
 '9002627',
 '9002628',
 '9002629',
 '9002630',
 '9002631',
 '9002632',
 '9002633',
 '9002634',
 '9002635',
 '9002636',
 '9002637',
 '9002638',
 '9002639',
 '9002640',
 '9002641',
 '9002642',
 '9002643',
 '9002644',
 '9002645',
 '9002646',
 '9002647',
 '9002648',
 '9002649',
 '9002650',
 '9002651',
 '9002652',
 '9002653',
 '9002654',
 '9002655',
 '9002656',
 '9002657',
 '9002658',
 '9002659',
 '9002660',
 '9002661',
 '9002662',
 '9002663',
 '9002664',
 '9002665',
 '9002666',
 '9002667',
 '9002668',
 '9002669',
 '9002670',
 '9002671',
 '9002672',
 '9002673',
 '9002674',
 '9002675',
 '9002676',
 '9002677',
 '9002678',
 '9002679',
 '9002680',
 '9002681',
 '9002682',
 '9002683',
 '9002684',
 '9002685',
 '9002686',
 '9002687',
 '9002688',
 '9002689',
 '9002690',
 '9002691',
 '9002692',
 '9002693',
 '9002694',
 '9002695',
 '9002696',
 '9002697',
 '9002698',
 '9002699',
 '9002700',
 '9002701',
 '9002702',
 '9002703',
 '9002704',
 '9002705',
 '9002706',
 '9002707',
 '9002708',
 '9002709',
 '9002710',
 '9002711',
 '9002712',
 '9002713',
 '9002714',
 '9002715',
 '9002716',
 '9002717',
 '9002718',
 '9002719',
 '9002720',
 '9002721',
 '9002722',
 '9002723',
 '9002724',
 '9002725',
 '9002726',
 '9002727',
 '9002728',
 '9002729',
 '9002730',
 '9002731',
 '9002732',
 '9002733',
 '9002734',
 '9002735',
 '9002736',
 '9002737',
 '9002738',
 '9002739',
 '9002740',
 '9002741',
 '9002742',
 '9002743',
 '9002744',
 '9002745',
 '9002746',
 '9002747',
 '9002748',
 '9002749',
 '9002750',
 '9002751',
 '9002752',
 '9002753',
 '9002754',
 '9002755',
 '9002756',
 '9002757',
 '9002758',
 '9002759',
 '9002760',
 '9002761',
 '9002762',
 '9002763',
 '9002764',
 '9002765',
 '9002766',
 '9002767',
 '9002768',
 '9002769',
 '9002770',
 '9002771',
 '9002772',
 '9002773',
 '9002774',
 '9002775',
 '9002776',
 '9002777',
 '9002778',
 '9002779',
 '9002780',
 '9002781',
 '9002782',
 '9002783',
 '9002784',
 '9002785',
 '9002786',
 '9002787',
 '9002788',
 '9002789',
 '9002790',
 '9002791',
 '9002792',
 '9002793',
 '9002794',
 '9002795',
 '9002796',
 '9002797',
 '9002798',
 '9002799',
 '9002800',
 '9002801',
 '9002802',
 '9002803',
 '9002804',
 '9002805',
 '9002806',
 '9002807',
 '9002808',
 '9002809',
 '9002810',
 '9002811',
 '9002812',
 '9002813',
 '9002814',
 '9002815',
 '9002816',
 '9002817',
 '9002818',
 '9002819',
 '9002820',
 '9002821',
 '9002822',
 '9002823',
 '9002824',
 '9002825',
 '9002826',
 '9002827',
 '9002828',
 '9002829',
 '9002830',
 '9002831',
 '9002832',
 '9002833',
 '9002834',
 '9002835',
 '9002836',
 '9002837',
 '9002838',
 '9002839',
 '9002840',
 '9002841',
 '9002842',
 '9002843',
 '9002844',
 '9002845',
 '9002846',
 '9002847',
 '9002848',
 '9002849',
 '9002850',
 '9002851',
 '9002852',
 '9002853',
 '9002854',
 '9002855',
 '9002856',
 '9002857',
 '9002858',
 '9002859',
 '9002860',
 '9002861',
 '9002862',
 '9002863',
 '9002864',
 '9002865',
 '9002866',
 '9002867',
 '9002868',
 '9002869',
 '9002870',
 '9002871',
 '9002872',
 '9002873',
 '9002874',
 '9002875',
 '9002876',
 '9002877',
 '9002878',
 '9002879',
 '9002880',
 '9002881',
 '9002882',
 '9002883',
 '9002884',
 '9002885',
 '9002886',
 '9002887',
 '9002888',
 '9002889',
 '9002890',
 '9002891',
 '9002892',
 '9002893',
 '9002894',
 '9002895',
 '9002896',
 '9002897',
 '9002898',
 '9002899',
 '9002900',
 '9002901',
 '9002902',
 '9002903',
 '9002904',
 '9002905',
 '9002906',
 '9002907',
 '9002908',
 '9002909',
 '9002910',
 '9002911',
 '9002912',
 '9002913',
 '9002914',
 '9002915',
 '9002916',
 '9002917',
 '9002918',
 '9002919',
 '9002920',
 '9002921',
 '9002922',
 '9002923',
 '9002924',
 '9002925',
 '9002926',
 '9002927',
 '9002928',
 '9002929',
 '9002930',
 '9002931',
 '9002932',
 '9002933',
 '9002934',
 '9002935',
 '9002936',
 '9002937',
 '9002938',
 '9002939',
 '9002940',
 '9002941',
 '9002942',
 '9002943',
 '9002944',
 '9002945',
 '9002946',
 '9002947',
 '9002948',
 '9002949',
 '9002950',
 '9002951',
 '9002952',
 '9002953',
 '9002954',
 '9002955',
 '9002956',
 '9002957',
 '9002958',
 '9002959',
 '9002960',
 '9002961',
 '9002962',
 '9002963',
 '9002964',
 '9002965',
 '9002966',
 '9002967',
 '9002968',
 '9002969',
 '9002970',
 '9002971',
 '9002972',
 '9002973',
 '9002974',
 '9002975',
 '9002976',
 '9002977',
 '9002978',
 '9002979',
 '9002980',
 '9002981',
 '9002982',
 '9002983',
 '9002984',
 '9002985',
 '9002986',
 '9002987',
 '9002988',
 '9002989',
 '9002990',
 '9002991',
 '9002992',
 '9002993',
 '9002994',
 '9002995',
 '9002996',
 '9002997',
 '9002998',
 '9002999',
 '9003000',
 '9003001',
 '9003002',
 '9003003',
 '9003004',
 '9003005',
 '9003006',
 '9003007',
 '9003008',
 '9003009',
 '9003010',
 '9003011',
 '9003012',
 '9003013',
 '9003014',
 '9003015',
 '9003016',
 '9003017',
 '9003018',
 '9003019',
 '9003020',
 '9003021',
 '9003022',
 '9003023',
 '9003024',
 '9003025',
 '9003026',
 '9003027',
 '9003028',
 '9003029',
 '9003030',
 '9003031',
 '9003032',
 '9003033',
 '9003034',
 '9003035',
 '9003036',
 '9003037',
 '9003038',
 '9003039',
 '9003040',
 '9003041',
 '9003042',
 '9003043',
 '9003044',
 '9003045',
 '9003046',
 '9003047',
 '9003048',
 '9003049',
 '9003050',
 '9003051',
 '9003052',
 '9003053',
 '9003054',
 '9003055',
 '9003056',
 '9003057',
 '9003058',
 '9003059',
 '9003060',
 '9003061',
 '9003062',
 '9003063',
 '9003064',
 '9003065',
 '9003066',
 '9003067',
 '9003068',
 '9003069',
 '9003070',
 '9003071',
 '9003072',
 '9003073',
 '9003074',
 '9003075',
 '9003076',
 '9003077',
 '9003078',
 '9003079',
 '9003080',
 '9003081',
 '9003082',
 '9003083',
 '9003084',
 '9003085',
 '9003086',
 '9003087',
 '9003088',
 '9003089',
 '9003090',
 '9003091',
 '9003092',
 '9003093',
 '9003094',
 '9003095',
 '9003096',
 '9003097',
 '9003098',
 '9003099',
 '9003100',
 '9003101',
 '9003102',
 '9003103',
 '9003104',
 '9003105',
 '9003106',
 '9003107',
 '9003108',
 '9003109',
 '9003110',
 '9003111',
 '9003112',
 '9003113',
 '9003114',
 '9003115',
 '9003116',
 '9003117',
 '9003118',
 '9003119',
 '9003120',
 '9003121',
 '9003122',
 '9003123',
 '9003124',
 '9003125',
 '9003126',
 '9003127',
 '9003128',
 '9003129',
 '9003130',
 '9003131',
 '9003132',
 '9003133',
 '9003134',
 '9003135',
 '9003136',
 '9003137',
 '9003138',
 '9003139',
 '9003140',
 '9003141',
 '9003142',
 '9003143',
 '9003144',
 '9003145',
 '9003146',
 '9003147',
 '9003148',
 '9003149',
 '9003150',
 '9003151',
 '9003152',
 '9003153',
 '9003154',
 '9003155',
 '9003156',
 '9003157',
 '9003158',
 '9003159',
 '9003160',
 '9003161',
 '9003162',
 '9003163',
 '9003164',
 '9003165',
 '9003166',
 '9003167',
 '9003168',
 '9003169',
 '9003170',
 '9003171',
 '9003172',
 '9003173',
 '9003174',
 '9003175',
 '9003176',
 '9003177',
 '9003178',
 '9003179',
 '9003180',
 '9003181',
 '9003182',
 '9003183',
 '9003184',
 '9003185',
 '9003186',
 '9003187',
 '9003188',
 '9003189',
 '9003190',
 '9003191',
 '9003192',
 '9003193',
 '9003194',
 '9003195',
 '9003196',
 '9003197',
 '9003198',
 '9003199',
 '9003200',
 '9003201',
 '9003202',
 '9003203',
 '9003204',
 '9003205',
 '9003206',
 '9003207',
 '9003208',
 '9003209',
 '9003210',
 '9003211',
 '9003212',
 '9003213',
 '9003214',
 '9003215',
 '9003216',
 '9003217',
 '9003218',
 '9003219',
 '9003220',
 '9003221',
 '9003222',
 '9003223',
 '9003224',
 '9003225',
 '9003226',
 '9003227',
 '9003228',
 '9003229',
 '9003230',
 '9003231',
 '9003232',
 '9003233',
 '9003234',
 '9003235',
 '9003236',
 '9003237',
 '9003238',
 '9003239',
 '9003240',
 '9003241',
 '9003242',
 '9003243',
 '9003244',
 '9003245',
 '9003246',
 '9003247',
 '9003248',
 '9003249',
 '9003250',
 '9003251',
 '9003252',
 '9003253',
 '9003254',
 '9003255',
 '9003256',
 '9003257',
 '9003258',
 '9003259',
 '9003260',
 '9003261',
 '9003262',
 '9003263',
 '9003264',
 '9003265',
 '9003266',
 '9003267',
 '9003268',
 '9003269',
 '9003270',
 '9003271',
 '9003272',
 '9003273',
 '9003274',
 '9003275',
 '9003276',
 '9003277',
 '9003278',
 '9003279',
 '9003280',
 '9003281',
 '9003282',
 '9003283',
 '9003284',
 '9003285',
 '9003286',
 '9003287',
 '9003288',
 '9003289',
 '9003290',
 '9003291',
 '9003292',
 '9003293',
 '9003294',
 '9003295',
 '9003296',
 '9003297',
 '9003298',
 '9003299',
 '9003300',
 '9003301',
 '9003302',
 '9003303',
 '9003304',
 '9003305',
 '9003306',
 '9003307',
 '9003308',
 '9003309',
 '9003310',
 '9003311',
 '9003312',
 '9003313',
 '9003314',
 '9003315',
 '9003316',
 '9003317',
 '9003318',
 '9003319',
 '9003320',
 '9003321',
 '9003322',
 '9003323',
 '9003324',
 '9003325',
 '9003326',
 '9003327',
 '9003328',
 '9003329',
 '9003330',
 '9003331',
 '9003332',
 '9003333',
 '9003334',
 '9003335',
 '9003336',
 '9003337',
 '9003338',
 '9003339',
 '9003340',
 '9003341',
 '9003342',
 '9003343',
 '9003344',
 '9003345',
 '9003346',
 '9003347',
 '9003348',
 '9003349',
 '9003350',
 '9003351',
 '9003352',
 '9003353',
 '9003354',
 '9003355',
 '9003356',
 '9003357',
 '9003358',
 '9003359',
 '9003360',
 '9003361',
 '9003362',
 '9003363',
 '9003364',
 '9003365',
 '9003366',
 '9003367',
 '9003368',
 '9003369',
 '9003370',
 '9003371',
 '9003372',
 '9003373',
 '9003374',
 '9003375',
 '9003376',
 '9003377',
 '9003378',
 '9003379',
 '9003380',
 '9003381',
 '9003382',
 '9003383',
 '9003384',
 '9003385',
 '9003386',
 '9003387',
 '9003388',
 '9003389',
 '9003390',
 '9003391',
 '9003392',
 '9003393',
 '9003394',
 '9003395',
 '9003396',
 '9003397',
 '9003398',
 '9003399',
 '9003400',
 '9003401',
 '9003402',
 '9003403',
 '9003404',
 '9003405',
 '9003406',
 '9003407',
 '9003408',
 '9003409',
 '9003410',
 '9003411',
 '9003412',
 '9003413',
 '9003414',
 '9003415',
 '9003416',
 '9003417',
 '9003418',
 '9003419',
 '9003420',
 '9003421',
 '9003422',
 '9003423',
 '9003424',
 '9003425',
 '9003426',
 '9003427',
 '9003428',
 '9003429',
 '9003430',
 '9003431',
 '9003432',
 '9003433',
 '9003434',
 '9003435',
 '9003436',
 '9003437',
 '9003438',
 '9003439',
 '9003440',
 '9003441',
 '9003442',
 '9003443',
 '9003444',
 '9003445',
 '9003446',
 '9003447',
 '9003448',
 '9003449',
 '9003450',
 '9003451',
 '9003452',
 '9003453',
 '9003454',
 '9003455',
 '9003456',
 '9003457',
 '9003458',
 '9003459',
 '9003460',
 '9003461',
 '9003462',
 '9003463',
 '9003464',
 '9003465',
 '9003466',
 '9003467',
 '9003468',
 '9003469',
 '9003470',
 '9003471',
 '9003472',
 '9003473',
 '9003474',
 '9003475',
 '9003476',
 '9003477',
 '9003478',
 '9003479',
 '9003480']

In [49]:
table3=pd.DataFrame(tag,columns=['tag'])

table3['unique_user_id']=uniq
table3.head()

      tag unique_user_id
0  123456        9002483
1  123457        9002484
2  123458        9002485
3  123459        9002486
4  123460        9002487

In [50]:
table3.shape

(998, 2)

In [51]:
rfidinfo=rfidinfo.toPandas()

In [52]:
rfidinfo.head()

,user_id,reference_number,activated,created_date,updated_date,valid_until,last_used
0,1,4000001,1,26/03/2022 23:53:31,26/03/2022 23:53:31,26/03/2025 23:53:31,12/04/2022 14:11:47
1,2,4000002,1,26/03/2022 23:53:31,26/03/2022 23:53:31,26/03/2025 23:53:31,12/04/2022 14:11:47
2,3,4000003,1,26/03/2022 23:53:31,26/03/2022 23:53:31,26/03/2025 23:53:31,12/04/2022 14:11:47
3,4,4000004,1,26/03/2022 23:53:31,26/03/2022 23:53:31,26/03/2025 23:53:31,12/04/2022 14:11:47
4,5,4000005,1,26/03/2022 23:53:31,26/03/2022 23:53:31,26/03/2025 23:53:31,12/04/2022 14:11:47

In [53]:
rfidinfo=pd.concat([rfidinfo,table3],axis=1)
rfidinfo.head()

,user_id,reference_number,activated,created_date,updated_date,valid_until,last_used,tag,unique_user_id
0,1,4000001,1,26/03/2022 23:53:31,26/03/2022 23:53:31,26/03/2025 23:53:31,12/04/2022 14:11:47,123456,9002483
1,2,4000002,1,26/03/2022 23:53:31,26/03/2022 23:53:31,26/03/2025 23:53:31,12/04/2022 14:11:47,123457,9002484
2,3,4000003,1,26/03/2022 23:53:31,26/03/2022 23:53:31,26/03/2025 23:53:31,12/04/2022 14:11:47,123458,9002485
3,4,4000004,1,26/03/2022 23:53:31,26/03/2022 23:53:31,26/03/2025 23:53:31,12/04/2022 14:11:47,123459,9002486
4,5,4000005,1,26/03/2022 23:53:31,26/03/2022 23:53:31,26/03/2025 23:53:31,12/04/2022 14:11:47,123460,9002487

In [54]:
# convert into pyspark dataframe

rfidinfo=spark.createDataFrame(rfidinfo)
rfidinfo.show()

+-------+----------------+---------+-------------------+-------------------+-------------------+-------------------+------+--------------+
|user_id|reference_number|activated|       created_date|       updated_date|        valid_until|          last_used|   tag|unique_user_id|
+-------+----------------+---------+-------------------+-------------------+-------------------+-------------------+------+--------------+
|      1|         4000001|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|123456|       9002483|
|      2|         4000002|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|123457|       9002484|
|      3|         4000003|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|123458|       9002485|
|      4|         4000004|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|123459|       9002486|
|      5|         4000005|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|123460|       9002487|
|      6|         4000006|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|123461|       9002488|
|      7|         4000007|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|123462|       9002489|
|      8|         4000008|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|123463|       9002490|
|      9|         4000009|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|123464|       9002491|
|     10|         4000010|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|123465|       9002492|
|     11|         4000011|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|123466|       9002493|
|     12|         4000012|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|123467|       9002494|
|     13|         4000013|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|123468|       9002495|
|     14|         4000014|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|123469|       9002496|
|     15|         4000015|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|123470|       9002497|
|     16|         4000016|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|123471|       9002498|
|     17|         4000017|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|123472|       9002499|
|     18|         4000018|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|123473|       9002500|
|     19|         4000019|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|123474|       9002501|
|     20|         4000020|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|123475|       9002502|
+-------+----------------+---------+-------------------+-------------------+-------------------+-------------------+------+--------------+
only showing top 20 rows

In [55]:
# employee code

rfidinfo=rfidinfo.withColumn('employee_code',F.col('reference_number'))
rfidinfo.show()

+-------+----------------+---------+-------------------+-------------------+-------------------+-------------------+------+--------------+-------------+
|user_id|reference_number|activated|       created_date|       updated_date|        valid_until|          last_used|   tag|unique_user_id|employee_code|
+-------+----------------+---------+-------------------+-------------------+-------------------+-------------------+------+--------------+-------------+
|      1|         4000001|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|123456|       9002483|      4000001|
|      2|         4000002|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|123457|       9002484|      4000002|
|      3|         4000003|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|123458|       9002485|      4000003|
|      4|         4000004|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|123459|       9002486|      4000004|
|      5|         4000005|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|123460|       9002487|      4000005|
|      6|         4000006|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|123461|       9002488|      4000006|
|      7|         4000007|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|123462|       9002489|      4000007|
|      8|         4000008|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|123463|       9002490|      4000008|
|      9|         4000009|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|123464|       9002491|      4000009|
|     10|         4000010|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|123465|       9002492|      4000010|
|     11|         4000011|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|123466|       9002493|      4000011|
|     12|         4000012|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|123467|       9002494|      4000012|
|     13|         4000013|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|123468|       9002495|      4000013|
|     14|         4000014|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|123469|       9002496|      4000014|
|     15|         4000015|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|123470|       9002497|      4000015|
|     16|         4000016|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|123471|       9002498|      4000016|
|     17|         4000017|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|123472|       9002499|      4000017|
|     18|         4000018|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|123473|       9002500|      4000018|
|     19|         4000019|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|123474|       9002501|      4000019|
|     20|         4000020|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|123475|       9002502|      4000020|
+-------+----------------+---------+-------------------+-------------------+-------------------+-------------------+------+--------------+-------------+
only showing top 20 rows

In [56]:
rfidinfo=rfidinfo.select('user_id', 'tag', 'activated', 'created_date', 'updated_date', 'valid_until', 'last_used', 'reference_number', 'employee_code', 'unique_user_id')
rfidinfo.show()

+-------+------+---------+-------------------+-------------------+-------------------+-------------------+----------------+-------------+--------------+
|user_id|   tag|activated|       created_date|       updated_date|        valid_until|          last_used|reference_number|employee_code|unique_user_id|
+-------+------+---------+-------------------+-------------------+-------------------+-------------------+----------------+-------------+--------------+
|      1|123456|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|         4000001|      4000001|       9002483|
|      2|123457|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|         4000002|      4000002|       9002484|
|      3|123458|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|         4000003|      4000003|       9002485|
|      4|123459|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|         4000004|      4000004|       9002486|
|      5|123460|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|         4000005|      4000005|       9002487|
|      6|123461|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|         4000006|      4000006|       9002488|
|      7|123462|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|         4000007|      4000007|       9002489|
|      8|123463|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|         4000008|      4000008|       9002490|
|      9|123464|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|         4000009|      4000009|       9002491|
|     10|123465|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|         4000010|      4000010|       9002492|
|     11|123466|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|         4000011|      4000011|       9002493|
|     12|123467|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|         4000012|      4000012|       9002494|
|     13|123468|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|         4000013|      4000013|       9002495|
|     14|123469|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|         4000014|      4000014|       9002496|
|     15|123470|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|         4000015|      4000015|       9002497|
|     16|123471|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|         4000016|      4000016|       9002498|
|     17|123472|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|         4000017|      4000017|       9002499|
|     18|123473|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|         4000018|      4000018|       9002500|
|     19|123474|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|         4000019|      4000019|       9002501|
|     20|123475|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|         4000020|      4000020|       9002502|
+-------+------+---------+-------------------+-------------------+-------------------+-------------------+----------------+-------------+--------------+
only showing top 20 rows

In [57]:
# save the dataframe into csv file
rfidinfo.coalesce(1).write.option("header", "true").csv("Pyspark/ users_rfidinfo")

In [58]:
# by using pandas, save as csv file
panda_csv=rfidinfo.toPandas()
panda_csv.to_csv('Pandas/users_rfidinfo.csv',header=True,index=False)

# ***Table Name: users_rfiditem***

id  , quantity , created_date , updated_date , 

---


product_type_id,       rfid_id,credit_type, expire_date

---
6657,   2000, '05/29/2021 11:01:31','05/29/2021 11:01:31' 


---
17, 'b4f5b635-e11d-4b20-a47d-118e1b568a31',' NORMAL' ,'2023-07-25 10:00:00+00'

***Process the given csv file***

In [59]:
#id
id_temp=5500
id=[]
for i in range(0,998):
  id.append(str(id_temp+i))

In [60]:
#quantity
quantity_temp=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
quantity=[]
for i in range(0,998):
  quantity.append(str(np.random.choice(quantity_temp)))

In [61]:
#product_type_id
product_type_id=input("Enter product type id:")

Enter product type id:12

In [62]:
#credit_type
credit_type = 'NORMAL'

In [63]:
#created & updated date
created_date='27-03-2022 06:15:31'
updated_date='27-03-2022 06:15:31'

In [64]:
# expire date
expire_date='2023-07-25 10:00:00+00'

***create the table 4***

In [66]:
# add product type id
rfiditem=given_file.withColumn('product_type_id',F.lit(product_type_id))

# add created date
rfiditem=rfiditem.withColumn('created_date',F.lit(created_date))

# add updated date
rfiditem=rfiditem.withColumn('updated_date',F.lit(updated_date))

# add credit type
rfiditem=rfiditem.withColumn('credit_type',F.lit(credit_type))

# add expire date
rfiditem=rfiditem.withColumn('expire_date',F.lit(expire_date))

# add rfid_id
rfiditem=rfiditem.withColumnRenamed('SL No.','rfid_id')
# drop unnecessary columns
rfiditem=rfiditem.drop('Emp ID','RFID Card Number','Employee Name','Contact')

In [67]:
table4_dummy=pd.DataFrame(id,columns=['id'])
table4_dummy.head()

     id
0  5500
1  5501
2  5502
3  5503
4  5504

In [68]:
table4_dummy['quantity']=quantity
table4_dummy.head()

     id quantity
0  5500        8
1  5501       12
2  5502        3
3  5503       13
4  5504        2

In [69]:
rfiditem=rfiditem.toPandas()
rfiditem.head()

,rfid_id,product_type_id,created_date,updated_date,credit_type,expire_date
0,1,12,27-03-2022 06:15:31,27-03-2022 06:15:31,NORMAL,2023-07-25 10:00:00+00
1,2,12,27-03-2022 06:15:31,27-03-2022 06:15:31,NORMAL,2023-07-25 10:00:00+00
2,3,12,27-03-2022 06:15:31,27-03-2022 06:15:31,NORMAL,2023-07-25 10:00:00+00
3,4,12,27-03-2022 06:15:31,27-03-2022 06:15:31,NORMAL,2023-07-25 10:00:00+00
4,5,12,27-03-2022 06:15:31,27-03-2022 06:15:31,NORMAL,2023-07-25 10:00:00+00

In [70]:
rfiditem=pd.concat([rfiditem,table4_dummy],axis=1)
rfiditem.head()

,rfid_id,product_type_id,created_date,updated_date,credit_type,expire_date,id,quantity
0,1,12,27-03-2022 06:15:31,27-03-2022 06:15:31,NORMAL,2023-07-25 10:00:00+00,5500,8
1,2,12,27-03-2022 06:15:31,27-03-2022 06:15:31,NORMAL,2023-07-25 10:00:00+00,5501,12
2,3,12,27-03-2022 06:15:31,27-03-2022 06:15:31,NORMAL,2023-07-25 10:00:00+00,5502,3
3,4,12,27-03-2022 06:15:31,27-03-2022 06:15:31,NORMAL,2023-07-25 10:00:00+00,5503,13
4,5,12,27-03-2022 06:15:31,27-03-2022 06:15:31,NORMAL,2023-07-25 10:00:00+00,5504,2

In [71]:
#convert into pyspark dataframe
rfiditem=spark.createDataFrame(rfiditem)
rfiditem.show()

+-------+---------------+-------------------+-------------------+-----------+--------------------+----+--------+
|rfid_id|product_type_id|       created_date|       updated_date|credit_type|         expire_date|  id|quantity|
+-------+---------------+-------------------+-------------------+-----------+--------------------+----+--------+
|      1|             12|27-03-2022 06:15:31|27-03-2022 06:15:31|     NORMAL|2023-07-25 10:00:...|5500|       8|
|      2|             12|27-03-2022 06:15:31|27-03-2022 06:15:31|     NORMAL|2023-07-25 10:00:...|5501|      12|
|      3|             12|27-03-2022 06:15:31|27-03-2022 06:15:31|     NORMAL|2023-07-25 10:00:...|5502|       3|
|      4|             12|27-03-2022 06:15:31|27-03-2022 06:15:31|     NORMAL|2023-07-25 10:00:...|5503|      13|
|      5|             12|27-03-2022 06:15:31|27-03-2022 06:15:31|     NORMAL|2023-07-25 10:00:...|5504|       2|
|      6|             12|27-03-2022 06:15:31|27-03-2022 06:15:31|     NORMAL|2023-07-25 10:00:...|5505|       6|
|      7|             12|27-03-2022 06:15:31|27-03-2022 06:15:31|     NORMAL|2023-07-25 10:00:...|5506|       8|
|      8|             12|27-03-2022 06:15:31|27-03-2022 06:15:31|     NORMAL|2023-07-25 10:00:...|5507|      10|
|      9|             12|27-03-2022 06:15:31|27-03-2022 06:15:31|     NORMAL|2023-07-25 10:00:...|5508|       5|
|     10|             12|27-03-2022 06:15:31|27-03-2022 06:15:31|     NORMAL|2023-07-25 10:00:...|5509|       8|
|     11|             12|27-03-2022 06:15:31|27-03-2022 06:15:31|     NORMAL|2023-07-25 10:00:...|5510|       9|
|     12|             12|27-03-2022 06:15:31|27-03-2022 06:15:31|     NORMAL|2023-07-25 10:00:...|5511|       5|
|     13|             12|27-03-2022 06:15:31|27-03-2022 06:15:31|     NORMAL|2023-07-25 10:00:...|5512|       7|
|     14|             12|27-03-2022 06:15:31|27-03-2022 06:15:31|     NORMAL|2023-07-25 10:00:...|5513|       7|
|     15|             12|27-03-2022 06:15:31|27-03-2022 06:15:31|     NORMAL|2023-07-25 10:00:...|5514|       4|
|     16|             12|27-03-2022 06:15:31|27-03-2022 06:15:31|     NORMAL|2023-07-25 10:00:...|5515|       1|
|     17|             12|27-03-2022 06:15:31|27-03-2022 06:15:31|     NORMAL|2023-07-25 10:00:...|5516|       8|
|     18|             12|27-03-2022 06:15:31|27-03-2022 06:15:31|     NORMAL|2023-07-25 10:00:...|5517|      13|
|     19|             12|27-03-2022 06:15:31|27-03-2022 06:15:31|     NORMAL|2023-07-25 10:00:...|5518|       2|
|     20|             12|27-03-2022 06:15:31|27-03-2022 06:15:31|     NORMAL|2023-07-25 10:00:...|5519|      14|
+-------+---------------+-------------------+-------------------+-----------+--------------------+----+--------+
only showing top 20 rows

In [72]:
# reorder the columns
rfiditem=rfiditem.select('id','quantity','created_date','updated_date','product_type_id','rfid_id','credit_type','expire_date')
rfiditem.show()

+----+--------+-------------------+-------------------+---------------+-------+-----------+--------------------+
|  id|quantity|       created_date|       updated_date|product_type_id|rfid_id|credit_type|         expire_date|
+----+--------+-------------------+-------------------+---------------+-------+-----------+--------------------+
|5500|       8|27-03-2022 06:15:31|27-03-2022 06:15:31|             12|      1|     NORMAL|2023-07-25 10:00:...|
|5501|      12|27-03-2022 06:15:31|27-03-2022 06:15:31|             12|      2|     NORMAL|2023-07-25 10:00:...|
|5502|       3|27-03-2022 06:15:31|27-03-2022 06:15:31|             12|      3|     NORMAL|2023-07-25 10:00:...|
|5503|      13|27-03-2022 06:15:31|27-03-2022 06:15:31|             12|      4|     NORMAL|2023-07-25 10:00:...|
|5504|       2|27-03-2022 06:15:31|27-03-2022 06:15:31|             12|      5|     NORMAL|2023-07-25 10:00:...|
|5505|       6|27-03-2022 06:15:31|27-03-2022 06:15:31|             12|      6|     NORMAL|2023-07-25 10:00:...|
|5506|       8|27-03-2022 06:15:31|27-03-2022 06:15:31|             12|      7|     NORMAL|2023-07-25 10:00:...|
|5507|      10|27-03-2022 06:15:31|27-03-2022 06:15:31|             12|      8|     NORMAL|2023-07-25 10:00:...|
|5508|       5|27-03-2022 06:15:31|27-03-2022 06:15:31|             12|      9|     NORMAL|2023-07-25 10:00:...|
|5509|       8|27-03-2022 06:15:31|27-03-2022 06:15:31|             12|     10|     NORMAL|2023-07-25 10:00:...|
|5510|       9|27-03-2022 06:15:31|27-03-2022 06:15:31|             12|     11|     NORMAL|2023-07-25 10:00:...|
|5511|       5|27-03-2022 06:15:31|27-03-2022 06:15:31|             12|     12|     NORMAL|2023-07-25 10:00:...|
|5512|       7|27-03-2022 06:15:31|27-03-2022 06:15:31|             12|     13|     NORMAL|2023-07-25 10:00:...|
|5513|       7|27-03-2022 06:15:31|27-03-2022 06:15:31|             12|     14|     NORMAL|2023-07-25 10:00:...|
|5514|       4|27-03-2022 06:15:31|27-03-2022 06:15:31|             12|     15|     NORMAL|2023-07-25 10:00:...|
|5515|       1|27-03-2022 06:15:31|27-03-2022 06:15:31|             12|     16|     NORMAL|2023-07-25 10:00:...|
|5516|       8|27-03-2022 06:15:31|27-03-2022 06:15:31|             12|     17|     NORMAL|2023-07-25 10:00:...|
|5517|      13|27-03-2022 06:15:31|27-03-2022 06:15:31|             12|     18|     NORMAL|2023-07-25 10:00:...|
|5518|       2|27-03-2022 06:15:31|27-03-2022 06:15:31|             12|     19|     NORMAL|2023-07-25 10:00:...|
|5519|      14|27-03-2022 06:15:31|27-03-2022 06:15:31|             12|     20|     NORMAL|2023-07-25 10:00:...|
+----+--------+-------------------+-------------------+---------------+-------+-----------+--------------------+
only showing top 20 rows

***Save into csv file table 4***

In [73]:
# save the dataframe into csv file
rfiditem.coalesce(1).write.option("header", "true").csv("Pyspark/users_rfiditem")

In [74]:
# by using pandas, save as csv file
panda_csv=rfiditem.toPandas()
panda_csv.to_csv('Pandas/users_rfiditem.csv',header=True,index=False)

# ***Table 5: users_productlimit***
id ,per_day ,per_week , per_month , <br>
created_date ,updated_date ,inventory_type_id , user_id 

---
13135, 5,  	5 , 	5 


---
'05/29/2021 11:01:31','05/29/2021 11:01:31' , 2 , ‘b4f5b635-e11d-4b20-a47d-118e1b568a31’

***Process the given csv file for creating table 5***

In [75]:
# id
temp5_id=13000
table5_id=[]
for i in range(0,998):
  table5_id.append(str(temp5_id+i))

In [76]:
#per day,per_week,per_month
per_day=5
per_week=5
per_month = 5

In [77]:
# created_date & updated_date
created_date='03/27/2022 06:48:31'
updated_date='03/27/2022 06:48:31'

In [78]:
# inventory_type_id
inventory_type_id=input('Enter inventory type id:')

Enter inventory type id:21

In [79]:
# add columns

product_limit=given_file.withColumn('per_day',F.lit(per_day))

product_limit=product_limit.withColumnRenamed('SL No.','user_id')

product_limit=product_limit.withColumn('per_week',F.lit(per_week))

product_limit=product_limit.withColumn('per_month',F.lit(per_month))

product_limit=product_limit.withColumn('created_date',F.lit(created_date)).withColumn('updated_date',F.lit(updated_date))

product_limit=product_limit.withColumn('inventory_type_id',F.lit(inventory_type_id))

# process using pandas

product_limit=product_limit.toPandas()
product_limit['id']=id

product_limit.head()

,user_id,Emp ID,RFID Card Number,Employee Name,Contact,per_day,per_week,per_month,created_date,updated_date,inventory_type_id,id
0,1,4000001,4000001,Shakil Ahmed,1812345678,5,5,5,03/27/2022 06:48:31,03/27/2022 06:48:31,21,5500
1,2,4000002,4000002,Shatabdi Roy,1812345678,5,5,5,03/27/2022 06:48:31,03/27/2022 06:48:31,21,5501
2,3,4000003,4000003,Md. Pieash Ahmed,0,5,5,5,03/27/2022 06:48:31,03/27/2022 06:48:31,21,5502
3,4,4000004,4000004,Fahima Islam,1812345678,5,5,5,03/27/2022 06:48:31,03/27/2022 06:48:31,21,5503
4,5,4000005,4000005,Tanjina Akter Jame,1812345678,5,5,5,03/27/2022 06:48:31,03/27/2022 06:48:31,21,5504

In [80]:
# convert into pyspark dataframe

product_limit=spark.createDataFrame(product_limit)

# drop unnecessary columns
product_limit=product_limit.drop('Emp ID','RFID Card Number','Employee Name','Contact')
product_limit.show()

+-------+-------+--------+---------+-------------------+-------------------+-----------------+----+
|user_id|per_day|per_week|per_month|       created_date|       updated_date|inventory_type_id|  id|
+-------+-------+--------+---------+-------------------+-------------------+-----------------+----+
|      1|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|5500|
|      2|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|5501|
|      3|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|5502|
|      4|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|5503|
|      5|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|5504|
|      6|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|5505|
|      7|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|5506|
|      8|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|5507|
|      9|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|5508|
|     10|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|5509|
|     11|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|5510|
|     12|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|5511|
|     13|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|5512|
|     14|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|5513|
|     15|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|5514|
|     16|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|5515|
|     17|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|5516|
|     18|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|5517|
|     19|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|5518|
|     20|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|5519|
+-------+-------+--------+---------+-------------------+-------------------+-----------------+----+
only showing top 20 rows

In [81]:
# reorder columns
product_limit=product_limit.select('id' ,'per_day' ,'per_week' , 'per_month' ,'created_date' ,'updated_date' ,'inventory_type_id' , 'user_id' )

product_limit.show()

+----+-------+--------+---------+-------------------+-------------------+-----------------+-------+
|  id|per_day|per_week|per_month|       created_date|       updated_date|inventory_type_id|user_id|
+----+-------+--------+---------+-------------------+-------------------+-----------------+-------+
|5500|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|      1|
|5501|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|      2|
|5502|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|      3|
|5503|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|      4|
|5504|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|      5|
|5505|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|      6|
|5506|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|      7|
|5507|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|      8|
|5508|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|      9|
|5509|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|     10|
|5510|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|     11|
|5511|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|     12|
|5512|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|     13|
|5513|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|     14|
|5514|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|     15|
|5515|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|     16|
|5516|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|     17|
|5517|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|     18|
|5518|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|     19|
|5519|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|     20|
+----+-------+--------+---------+-------------------+-------------------+-----------------+-------+
only showing top 20 rows

***Save the table 5***

In [82]:
# save the dataframe into csv file
product_limit.coalesce(1).write.option("header", "true").csv("Pyspark/users_productlimit")

In [83]:
# by using pandas, save as csv file
panda_csv=product_limit.toPandas()
panda_csv.to_csv('Pandas/users_productlimit.csv',header=True,index=False)

# ***Table 6***

id , fixed_credit_limit , credit_limit , due_amount 

---
created_date , updated_date , agent_name_id , rfid_id

---
13158, 100 , 100, 0

---
'05/29/2021 11:01:31','05/29/2021 11:01:31' , 5 , ‘
862b4497-577f-47f9-8725-dd6c397ce408’

In [84]:
# fixed_credit_limit
fixed_credit_limit=100

# credit_limit
credit_limit=100

# due_amount
due_amount=0

# created_date
created_date='05/04/2022 22:21:10'

# updated_date
updated_date='05/04/2022 22:22:10'

# agent_name_id
agent_name_id=input()

43

***create table 6***

In [85]:
# user_id
postpaid=given_file.withColumnRenamed('SL No.','id')

# fixed_credit_limit
postpaid=postpaid.withColumn('fixed_credit_limit',F.lit(fixed_credit_limit))

# credit_limit
postpaid=postpaid.withColumn('credit_limit',F.lit(credit_limit))

# due_amount
postpaid=postpaid.withColumn('due_amount',F.lit(due_amount))

# created_date
postpaid=postpaid.withColumn('created_date',F.lit(created_date))

# updated_date
postpaid=postpaid.withColumn('updated_date',F.lit(updated_date))

# agent_name_id
postpaid=postpaid.withColumn('agent_name_id',F.lit(agent_name_id))

# rfid_id
postpaid=postpaid.withColumn('rfid_id',postpaid['id'])

In [86]:
# drop unnecessary columns
postpaid=postpaid.drop('Emp ID','RFID Card Number','Employee Name','Contact')

In [87]:
# rearrange the columns
postpaid=postpaid.select('id' , 'fixed_credit_limit' , 'credit_limit' , 'due_amount' ,
'created_date' , 'updated_date' , 'agent_name_id' , 'rfid_id')
postpaid.show()

+---+------------------+------------+----------+-------------------+-------------------+-------------+-------+
| id|fixed_credit_limit|credit_limit|due_amount|       created_date|       updated_date|agent_name_id|rfid_id|
+---+------------------+------------+----------+-------------------+-------------------+-------------+-------+
|  1|               100|         100|         0|05/04/2022 22:21:10|05/04/2022 22:22:10|           43|      1|
|  2|               100|         100|         0|05/04/2022 22:21:10|05/04/2022 22:22:10|           43|      2|
|  3|               100|         100|         0|05/04/2022 22:21:10|05/04/2022 22:22:10|           43|      3|
|  4|               100|         100|         0|05/04/2022 22:21:10|05/04/2022 22:22:10|           43|      4|
|  5|               100|         100|         0|05/04/2022 22:21:10|05/04/2022 22:22:10|           43|      5|
|  6|               100|         100|         0|05/04/2022 22:21:10|05/04/2022 22:22:10|           43|      6|
|  7|               100|         100|         0|05/04/2022 22:21:10|05/04/2022 22:22:10|           43|      7|
|  8|               100|         100|         0|05/04/2022 22:21:10|05/04/2022 22:22:10|           43|      8|
|  9|               100|         100|         0|05/04/2022 22:21:10|05/04/2022 22:22:10|           43|      9|
| 10|               100|         100|         0|05/04/2022 22:21:10|05/04/2022 22:22:10|           43|     10|
| 11|               100|         100|         0|05/04/2022 22:21:10|05/04/2022 22:22:10|           43|     11|
| 12|               100|         100|         0|05/04/2022 22:21:10|05/04/2022 22:22:10|           43|     12|
| 13|               100|         100|         0|05/04/2022 22:21:10|05/04/2022 22:22:10|           43|     13|
| 14|               100|         100|         0|05/04/2022 22:21:10|05/04/2022 22:22:10|           43|     14|
| 15|               100|         100|         0|05/04/2022 22:21:10|05/04/2022 22:22:10|           43|     15|
| 16|               100|         100|         0|05/04/2022 22:21:10|05/04/2022 22:22:10|           43|     16|
| 17|               100|         100|         0|05/04/2022 22:21:10|05/04/2022 22:22:10|           43|     17|
| 18|               100|         100|         0|05/04/2022 22:21:10|05/04/2022 22:22:10|           43|     18|
| 19|               100|         100|         0|05/04/2022 22:21:10|05/04/2022 22:22:10|           43|     19|
| 20|               100|         100|         0|05/04/2022 22:21:10|05/04/2022 22:22:10|           43|     20|
+---+------------------+------------+----------+-------------------+-------------------+-------------+-------+
only showing top 20 rows

***Save the table 6***

In [88]:
# save the dataframe into csv file
postpaid.coalesce(1).write.option("header", "true").csv("Pyspark/users_postpaidrfid")

In [89]:
# by using pandas, save as csv file
panda_csv=postpaid.toPandas()
panda_csv.to_csv('Pandas/users_postpaidrfid.csv',header=True,index=False)

# ***Table Name 7: users_checkout_limit***
user_id,per_day,per_week

---
per_month,created_date,updated_date

---
e2f28486-21eb-40fb-a6b5-22bb3d251d6b', 1,2

---
2,'04/01/2021
00:43:31','04/01/2021 00:43:31

***process the given file***

In [90]:
# per_day
per_day=1

# per_week
per_week=2

# per_month
per_month=2

# created_date
created_date='05/04/2022 23:09:31'

# updated_date
updated_date='05/04/2022 23:10:49'

***Create the table***

In [91]:
# user_id
checkout=given_file.withColumnRenamed('SL No.','user_id')

# per_day,per_week,per_month
checkout=checkout.withColumn('per_day',F.lit(per_day)).withColumn('per_week',F.lit(per_week)).withColumn('per_month',F.lit(per_month))

# created_date & updated_date
checkout=checkout.withColumn('created_date',F.lit(created_date)).withColumn('updated_date',F.lit(updated_date))

# drop unnecessary columns
checkout=checkout.drop( 'Emp ID','RFID Card Number','Employee Name','Contact')

# display the final result
checkout.show()

+-------+-------+--------+---------+-------------------+-------------------+
|user_id|per_day|per_week|per_month|       created_date|       updated_date|
+-------+-------+--------+---------+-------------------+-------------------+
|      1|      1|       2|        2|05/04/2022 23:09:31|05/04/2022 23:10:49|
|      2|      1|       2|        2|05/04/2022 23:09:31|05/04/2022 23:10:49|
|      3|      1|       2|        2|05/04/2022 23:09:31|05/04/2022 23:10:49|
|      4|      1|       2|        2|05/04/2022 23:09:31|05/04/2022 23:10:49|
|      5|      1|       2|        2|05/04/2022 23:09:31|05/04/2022 23:10:49|
|      6|      1|       2|        2|05/04/2022 23:09:31|05/04/2022 23:10:49|
|      7|      1|       2|        2|05/04/2022 23:09:31|05/04/2022 23:10:49|
|      8|      1|       2|        2|05/04/2022 23:09:31|05/04/2022 23:10:49|
|      9|      1|       2|        2|05/04/2022 23:09:31|05/04/2022 23:10:49|
|     10|      1|       2|        2|05/04/2022 23:09:31|05/04/2022 23:10:49|
|     11|      1|       2|        2|05/04/2022 23:09:31|05/04/2022 23:10:49|
|     12|      1|       2|        2|05/04/2022 23:09:31|05/04/2022 23:10:49|
|     13|      1|       2|        2|05/04/2022 23:09:31|05/04/2022 23:10:49|
|     14|      1|       2|        2|05/04/2022 23:09:31|05/04/2022 23:10:49|
|     15|      1|       2|        2|05/04/2022 23:09:31|05/04/2022 23:10:49|
|     16|      1|       2|        2|05/04/2022 23:09:31|05/04/2022 23:10:49|
|     17|      1|       2|        2|05/04/2022 23:09:31|05/04/2022 23:10:49|
|     18|      1|       2|        2|05/04/2022 23:09:31|05/04/2022 23:10:49|
|     19|      1|       2|        2|05/04/2022 23:09:31|05/04/2022 23:10:49|
|     20|      1|       2|        2|05/04/2022 23:09:31|05/04/2022 23:10:49|
+-------+-------+--------+---------+-------------------+-------------------+
only showing top 20 rows

***Save the table 7***

In [92]:
# save the dataframe into csv file
checkout.coalesce(1).write.option("header", "true").csv("Pyspark/users_checkout_limit")

In [93]:
# by using pandas, save as csv file
panda_csv=checkout.toPandas()
panda_csv.to_csv('Pandas/users_checkout_limit.csv',header=True,index=False)

***Read all CSV files***

***Table 1***

In [94]:
# read from pandas folder
table1=spark.read.load('/content/Pandas/users_personalinfo.csv',format='csv',inferSchema=True,header=True)
table1.show()

+-------+--------------------+---------+-------------+--------------+--------------------+--------+--------+-------------------+-------------------+---------------+-----------------+
|user_id|          first_name|last_name|date_of_birth|contact_number|             address|     lat|     lon|       created_date|       updated_date|is_otp_verified|discount_group_id|
+-------+--------------------+---------+-------------+--------------+--------------------+--------+--------+-------------------+-------------------+---------------+-----------------+
|      1|              Shakil|    Ahmed|   27-10-2001|    1812345678|  Ashulia,Bangladesh|17.09497|59.96724|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               64|
|      2|            Shatabdi|      Roy|    17-2-1995|    1812345678|Kamalapur,Bangladesh|80.51144|56.49185|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               60|
|      3|          Md. Pieash|    Ahmed|   10-12-2004|             0|   Mirpur,Bangladesh|57.75926|93.88776|26-03-2022 14:21:00|26-03-2022 14:21:00|              f|               13|
|      4|              Fahima|    Islam|     2-8-2000|    1812345678|Ghulistan,Bangladesh|94.76048|17.93529|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|                8|
|      5|       Tanjina Akter|     Jame|   23-12-2004|    1812345678|Kamalapur,Bangladesh|20.93705|22.13693|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               85|
|      6|         Afrin Jahan|     Urme|    13-1-1999|    1812345678|Kamalapur,Bangladesh|36.66422|64.92357|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               72|
|      7|               Anika| Tabassum|    22-8-2003|    1812345678|Jatrabari,Bangladesh|80.78688|12.57226|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               25|
|      8|         Afsana Alam|      Mim|     2-6-2003|    1812345678|Narayanganj,Bangl...|71.35143|59.82975|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               14|
|      9|         Sayma Islam|  Sochona|   15-11-2002|    1812345678|Ghulistan,Bangladesh|71.95326| 4.48338|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               39|
|     10|                null|     Alam|     9-2-1999|    1812345678|Kamalapur,Bangladesh|31.33529| 1.06658|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               61|
|     11|           Md Regone|  Hossain|     9-9-1995|    1812345678|  Matuail,Bangladesh|80.62504|38.56331|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               55|
|     12|          Silvia Kh.| Shuvessa|     3-9-2002|    1812345678|  Ashulia,Bangladesh|10.81491|89.86811|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               15|
|     13|              Yeasin|  Bhuiyan|    7-10-2002|    1812345678|Kamalapur,Bangladesh|33.62233|50.35984|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               26|
|     14|          Md. Mehedi|   Hassan|    19-3-1996|    1812345678|  Matuail,Bangladesh|81.33305|11.45507|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               85|
|     15|               Riyad|  Hossain|     5-8-1995|    1812345678|Puran Dhaka,Bangl...|47.64943|39.13149|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               81|
|     16|    Md. Saiful Islam|   Shakil|   28-11-2004|    1812345678|Dhanmondi,Bangladesh|52.47281| 0.28037|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               96|
|     17|Abdullah Mohammod...|    Boiah|    26-7-2003|    1812345678|Kamalapur,Bangladesh|97.01253| 86.4376|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               73|
|     18|                  Al|     Amin|     6-3-1995|    1812345678|Puran Dhaka,Bangl...|62.32168|94.32087|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               95|
|     19|         Zahid Hasan|    Nirob|    16-6-1996|    1812345678|  Ashulia,Bangladesh|50.89688|41.16776|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|                5|
|     20|             Sharzan|   Rahman|    25-3-1995|    1812345678|  Ajimpur,Bangladesh|54.67504|63.16044|26-03-2022 14:21:00|26-03-2022 14:21:00|              t|               60|
+-------+--------------------+---------+-------------+--------------+--------------------+--------+--------+-------------------+-------------------+---------------+-----------------+
only showing top 20 rows

***table 2***

In [95]:
# read from pandas folder
table2=spark.read.load('/content/Pandas/users_billinginfo.csv',format='csv',inferSchema=True,header=True)
table2.show()

+-------+--------------------+------------+---------+----------+-------------+--------+-------------------+-------------------+
|user_id|             address|        city|post_code|   country|      contact|currency|       created_date|       updated_date|
+-------+--------------------+------------+---------+----------+-------------+--------+-------------------+-------------------+
|      1|Keodala, Madanpur...| Narayanganj|     1400|Bangladesh|8801410675228|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|
|      2|Sher-shah suri ro...| Mohammadpur|     1207|Bangladesh|8801981614424|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|
|      3|samad mansion, se...|      mirpur|     1216|Bangladesh|8801655779333|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|
|      4|37, kemal ataturk...|      banani|     1213|Bangladesh|8801627417493|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|
|      5|House 140/A(New 3...|   Dhanmondi|     1205|Bangladesh|8801304282081|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|
|      6|22, sekander mark...|      uttara|     1231|Bangladesh|8801386472545|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|
|      7|11, agrabad, chit...|  chittagong|     4100|Bangladesh|8801625265192|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|
|      8|road 22, bakchon,...|     jessore|     7400|Bangladesh|8801761076526|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|
|      9|comilla medical c...|     comilla|     3500|Bangladesh|8801992010477|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|
|     10|25/38 Chittaranja...|   Sadarghat|     1000|Bangladesh|8801924790381|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|
|     11|sylhet womens med...|      sylhet|     3100|Bangladesh|8801329992331|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|
|     12|sylhet womens med...|      sylhet|     4100|Bangladesh|8801366894408|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|
|     13|samad mansion, se...|      mirpur|     3500|Bangladesh|8801634988372|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|
|     14|House 140/A(New 3...|   Dhanmondi|     1205|Bangladesh|8801678353732|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|
|     15|House 140/A(New 3...|   Dhanmondi|     1231|Bangladesh|8801443529102|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|
|     16|samad mansion, se...|      mirpur|     1216|Bangladesh|8801346145331|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|
|     17|22, sekander mark...|      uttara|     1213|Bangladesh|8801333668758|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|
|     18|sylhet womens med...|      sylhet|     1213|Bangladesh|8801317800370|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|
|     19|25/38 Chittaranja...|   Sadarghat|     7400|Bangladesh|8801784119557|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|
|     20|25/38 Chittaranja...|   Sadarghat|     3500|Bangladesh|8801731399926|     BDT|26/03/2022 21:19:31|26/03/2022 21:19:31|
+-------+--------------------+------------+---------+----------+-------------+--------+-------------------+-------------------+
only showing top 20 rows

***table 3***

In [96]:
# read from pandas folder
table3=spark.read.load('/content/Pandas/users_rfidinfo.csv',format='csv',inferSchema=True,header=True)
table3.show()

+-------+------+---------+-------------------+-------------------+-------------------+-------------------+----------------+-------------+--------------+
|user_id|   tag|activated|       created_date|       updated_date|        valid_until|          last_used|reference_number|employee_code|unique_user_id|
+-------+------+---------+-------------------+-------------------+-------------------+-------------------+----------------+-------------+--------------+
|      1|123456|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|         4000001|      4000001|       9002483|
|      2|123457|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|         4000002|      4000002|       9002484|
|      3|123458|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|         4000003|      4000003|       9002485|
|      4|123459|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|         4000004|      4000004|       9002486|
|      5|123460|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|         4000005|      4000005|       9002487|
|      6|123461|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|         4000006|      4000006|       9002488|
|      7|123462|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|         4000007|      4000007|       9002489|
|      8|123463|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|         4000008|      4000008|       9002490|
|      9|123464|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|         4000009|      4000009|       9002491|
|     10|123465|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|         4000010|      4000010|       9002492|
|     11|123466|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|         4000011|      4000011|       9002493|
|     12|123467|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|         4000012|      4000012|       9002494|
|     13|123468|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|         4000013|      4000013|       9002495|
|     14|123469|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|         4000014|      4000014|       9002496|
|     15|123470|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|         4000015|      4000015|       9002497|
|     16|123471|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|         4000016|      4000016|       9002498|
|     17|123472|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|         4000017|      4000017|       9002499|
|     18|123473|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|         4000018|      4000018|       9002500|
|     19|123474|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|         4000019|      4000019|       9002501|
|     20|123475|        1|26/03/2022 23:53:31|26/03/2022 23:53:31|26/03/2025 23:53:31|12/04/2022 14:11:47|         4000020|      4000020|       9002502|
+-------+------+---------+-------------------+-------------------+-------------------+-------------------+----------------+-------------+--------------+
only showing top 20 rows

***table 4***

In [97]:
# read from pandas folder
table4=spark.read.load('/content/Pandas/users_rfiditem.csv',format='csv',inferSchema=True,header=True)
table4.show()

+----+--------+-------------------+-------------------+---------------+-------+-----------+--------------------+
|  id|quantity|       created_date|       updated_date|product_type_id|rfid_id|credit_type|         expire_date|
+----+--------+-------------------+-------------------+---------------+-------+-----------+--------------------+
|5500|       8|27-03-2022 06:15:31|27-03-2022 06:15:31|             12|      1|     NORMAL|2023-07-25 10:00:...|
|5501|      12|27-03-2022 06:15:31|27-03-2022 06:15:31|             12|      2|     NORMAL|2023-07-25 10:00:...|
|5502|       3|27-03-2022 06:15:31|27-03-2022 06:15:31|             12|      3|     NORMAL|2023-07-25 10:00:...|
|5503|      13|27-03-2022 06:15:31|27-03-2022 06:15:31|             12|      4|     NORMAL|2023-07-25 10:00:...|
|5504|       2|27-03-2022 06:15:31|27-03-2022 06:15:31|             12|      5|     NORMAL|2023-07-25 10:00:...|
|5505|       6|27-03-2022 06:15:31|27-03-2022 06:15:31|             12|      6|     NORMAL|2023-07-25 10:00:...|
|5506|       8|27-03-2022 06:15:31|27-03-2022 06:15:31|             12|      7|     NORMAL|2023-07-25 10:00:...|
|5507|      10|27-03-2022 06:15:31|27-03-2022 06:15:31|             12|      8|     NORMAL|2023-07-25 10:00:...|
|5508|       5|27-03-2022 06:15:31|27-03-2022 06:15:31|             12|      9|     NORMAL|2023-07-25 10:00:...|
|5509|       8|27-03-2022 06:15:31|27-03-2022 06:15:31|             12|     10|     NORMAL|2023-07-25 10:00:...|
|5510|       9|27-03-2022 06:15:31|27-03-2022 06:15:31|             12|     11|     NORMAL|2023-07-25 10:00:...|
|5511|       5|27-03-2022 06:15:31|27-03-2022 06:15:31|             12|     12|     NORMAL|2023-07-25 10:00:...|
|5512|       7|27-03-2022 06:15:31|27-03-2022 06:15:31|             12|     13|     NORMAL|2023-07-25 10:00:...|
|5513|       7|27-03-2022 06:15:31|27-03-2022 06:15:31|             12|     14|     NORMAL|2023-07-25 10:00:...|
|5514|       4|27-03-2022 06:15:31|27-03-2022 06:15:31|             12|     15|     NORMAL|2023-07-25 10:00:...|
|5515|       1|27-03-2022 06:15:31|27-03-2022 06:15:31|             12|     16|     NORMAL|2023-07-25 10:00:...|
|5516|       8|27-03-2022 06:15:31|27-03-2022 06:15:31|             12|     17|     NORMAL|2023-07-25 10:00:...|
|5517|      13|27-03-2022 06:15:31|27-03-2022 06:15:31|             12|     18|     NORMAL|2023-07-25 10:00:...|
|5518|       2|27-03-2022 06:15:31|27-03-2022 06:15:31|             12|     19|     NORMAL|2023-07-25 10:00:...|
|5519|      14|27-03-2022 06:15:31|27-03-2022 06:15:31|             12|     20|     NORMAL|2023-07-25 10:00:...|
+----+--------+-------------------+-------------------+---------------+-------+-----------+--------------------+
only showing top 20 rows

***table 5***

In [98]:
# read from pandas folder
table5=spark.read.load('/content/Pandas/users_productlimit.csv',format='csv',inferSchema=True,header=True)
table5.show()

+----+-------+--------+---------+-------------------+-------------------+-----------------+-------+
|  id|per_day|per_week|per_month|       created_date|       updated_date|inventory_type_id|user_id|
+----+-------+--------+---------+-------------------+-------------------+-----------------+-------+
|5500|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|      1|
|5501|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|      2|
|5502|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|      3|
|5503|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|      4|
|5504|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|      5|
|5505|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|      6|
|5506|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|      7|
|5507|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|      8|
|5508|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|      9|
|5509|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|     10|
|5510|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|     11|
|5511|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|     12|
|5512|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|     13|
|5513|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|     14|
|5514|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|     15|
|5515|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|     16|
|5516|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|     17|
|5517|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|     18|
|5518|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|     19|
|5519|      5|       5|        5|03/27/2022 06:48:31|03/27/2022 06:48:31|               21|     20|
+----+-------+--------+---------+-------------------+-------------------+-----------------+-------+
only showing top 20 rows

***table 6***

In [99]:
# read from pandas folder
table6=spark.read.load('/content/Pandas/users_postpaidrfid.csv',format='csv',inferSchema=True,header=True)
table6.show()

+---+------------------+------------+----------+-------------------+-------------------+-------------+-------+
| id|fixed_credit_limit|credit_limit|due_amount|       created_date|       updated_date|agent_name_id|rfid_id|
+---+------------------+------------+----------+-------------------+-------------------+-------------+-------+
|  1|               100|         100|         0|05/04/2022 22:21:10|05/04/2022 22:22:10|           43|      1|
|  2|               100|         100|         0|05/04/2022 22:21:10|05/04/2022 22:22:10|           43|      2|
|  3|               100|         100|         0|05/04/2022 22:21:10|05/04/2022 22:22:10|           43|      3|
|  4|               100|         100|         0|05/04/2022 22:21:10|05/04/2022 22:22:10|           43|      4|
|  5|               100|         100|         0|05/04/2022 22:21:10|05/04/2022 22:22:10|           43|      5|
|  6|               100|         100|         0|05/04/2022 22:21:10|05/04/2022 22:22:10|           43|      6|
|  7|               100|         100|         0|05/04/2022 22:21:10|05/04/2022 22:22:10|           43|      7|
|  8|               100|         100|         0|05/04/2022 22:21:10|05/04/2022 22:22:10|           43|      8|
|  9|               100|         100|         0|05/04/2022 22:21:10|05/04/2022 22:22:10|           43|      9|
| 10|               100|         100|         0|05/04/2022 22:21:10|05/04/2022 22:22:10|           43|     10|
| 11|               100|         100|         0|05/04/2022 22:21:10|05/04/2022 22:22:10|           43|     11|
| 12|               100|         100|         0|05/04/2022 22:21:10|05/04/2022 22:22:10|           43|     12|
| 13|               100|         100|         0|05/04/2022 22:21:10|05/04/2022 22:22:10|           43|     13|
| 14|               100|         100|         0|05/04/2022 22:21:10|05/04/2022 22:22:10|           43|     14|
| 15|               100|         100|         0|05/04/2022 22:21:10|05/04/2022 22:22:10|           43|     15|
| 16|               100|         100|         0|05/04/2022 22:21:10|05/04/2022 22:22:10|           43|     16|
| 17|               100|         100|         0|05/04/2022 22:21:10|05/04/2022 22:22:10|           43|     17|
| 18|               100|         100|         0|05/04/2022 22:21:10|05/04/2022 22:22:10|           43|     18|
| 19|               100|         100|         0|05/04/2022 22:21:10|05/04/2022 22:22:10|           43|     19|
| 20|               100|         100|         0|05/04/2022 22:21:10|05/04/2022 22:22:10|           43|     20|
+---+------------------+------------+----------+-------------------+-------------------+-------------+-------+
only showing top 20 rows

***table 7***

In [100]:
# read from pandas folder
table7=spark.read.load('/content/Pandas/users_checkout_limit.csv',format='csv',inferSchema=True,header=True)
table7.show()

+-------+-------+--------+---------+-------------------+-------------------+
|user_id|per_day|per_week|per_month|       created_date|       updated_date|
+-------+-------+--------+---------+-------------------+-------------------+
|      1|      1|       2|        2|05/04/2022 23:09:31|05/04/2022 23:10:49|
|      2|      1|       2|        2|05/04/2022 23:09:31|05/04/2022 23:10:49|
|      3|      1|       2|        2|05/04/2022 23:09:31|05/04/2022 23:10:49|
|      4|      1|       2|        2|05/04/2022 23:09:31|05/04/2022 23:10:49|
|      5|      1|       2|        2|05/04/2022 23:09:31|05/04/2022 23:10:49|
|      6|      1|       2|        2|05/04/2022 23:09:31|05/04/2022 23:10:49|
|      7|      1|       2|        2|05/04/2022 23:09:31|05/04/2022 23:10:49|
|      8|      1|       2|        2|05/04/2022 23:09:31|05/04/2022 23:10:49|
|      9|      1|       2|        2|05/04/2022 23:09:31|05/04/2022 23:10:49|
|     10|      1|       2|        2|05/04/2022 23:09:31|05/04/2022 23:10:49|
|     11|      1|       2|        2|05/04/2022 23:09:31|05/04/2022 23:10:49|
|     12|      1|       2|        2|05/04/2022 23:09:31|05/04/2022 23:10:49|
|     13|      1|       2|        2|05/04/2022 23:09:31|05/04/2022 23:10:49|
|     14|      1|       2|        2|05/04/2022 23:09:31|05/04/2022 23:10:49|
|     15|      1|       2|        2|05/04/2022 23:09:31|05/04/2022 23:10:49|
|     16|      1|       2|        2|05/04/2022 23:09:31|05/04/2022 23:10:49|
|     17|      1|       2|        2|05/04/2022 23:09:31|05/04/2022 23:10:49|
|     18|      1|       2|        2|05/04/2022 23:09:31|05/04/2022 23:10:49|
|     19|      1|       2|        2|05/04/2022 23:09:31|05/04/2022 23:10:49|
|     20|      1|       2|        2|05/04/2022 23:09:31|05/04/2022 23:10:49|
+-------+-------+--------+---------+-------------------+-------------------+
only showing top 20 rows